@use "../../styles/tokens" as *;

/*******************************************************************************
 * Grid Component
 *
 * Responsive CSS Grid system
 ******************************************************************************/

.bc-grid {
  display: grid;
  width: 100%;

  /***************************************************************************
   * Column Variants
   ***************************************************************************/

  &--cols-1 { grid-template-columns: repeat(1, 1fr); }
  &--cols-2 { grid-template-columns: repeat(2, 1fr); }
  &--cols-3 { grid-template-columns: repeat(3, 1fr); }
  &--cols-4 { grid-template-columns: repeat(4, 1fr); }
  &--cols-6 { grid-template-columns: repeat(6, 1fr); }
  &--cols-12 { grid-template-columns: repeat(12, 1fr); }

  @include md-up {
    &--cols-md-1 { grid-template-columns: repeat(1, 1fr); }
    &--cols-md-2 { grid-template-columns: repeat(2, 1fr); }
    &--cols-md-3 { grid-template-columns: repeat(3, 1fr); }
    &--cols-md-4 { grid-template-columns: repeat(4, 1fr); }
    &--cols-md-6 { grid-template-columns: repeat(6, 1fr); }
    &--cols-md-12 { grid-template-columns: repeat(12, 1fr); }
  }

  @include lg-up {
    &--cols-lg-1 { grid-template-columns: repeat(1, 1fr); }
    &--cols-lg-2 { grid-template-columns: repeat(2, 1fr); }
    &--cols-lg-3 { grid-template-columns: repeat(3, 1fr); }
    &--cols-lg-4 { grid-template-columns: repeat(4, 1fr); }
    &--cols-lg-6 { grid-template-columns: repeat(6, 1fr); }
    &--cols-lg-12 { grid-template-columns: repeat(12, 1fr); }
  }

  /***************************************************************************
   * Gap Variants
   ***************************************************************************/

  &--gap-none { gap: 0; }
  &--gap-sm { gap: $space-2; }
  &--gap-md { gap: $space-3; }
  &--gap-lg { gap: $space-4; }

  /***************************************************************************
   * Grid Item
   ***************************************************************************/

  &__item {
    &--span-1 { grid-column: span 1; }
    &--span-2 { grid-column: span 2; }
    &--span-3 { grid-column: span 3; }
    &--span-4 { grid-column: span 4; }
    &--span-6 { grid-column: span 6; }
    &--span-12 { grid-column: span 12; }

    @include md-up {
      &--span-md-1 { grid-column: span 1; }
      &--span-md-2 { grid-column: span 2; }
      &--span-md-3 { grid-column: span 3; }
      &--span-md-4 { grid-column: span 4; }
      &--span-md-6 { grid-column: span 6; }
      &--span-md-12 { grid-column: span 12; }
    }

    @include lg-up {
      &--span-lg-1 { grid-column: span 1; }
      &--span-lg-2 { grid-column: span 2; }
      &--span-lg-3 { grid-column: span 3; }
      &--span-lg-4 { grid-column: span 4; }
      &--span-lg-6 { grid-column: span 6; }
      &--span-lg-12 { grid-column: span 12; }
    }
  }
}
