@theme {
	--color-charcoal-50-5: #F6F6F0D;
	--color-charcoal-50-10: #F6F6F1A;
	--color-charcoal-50-15: #F6F6F26;
	--color-charcoal-50-20: #F6F6F33;
	--color-charcoal-50-25: #F6F6F40;
	--color-charcoal-50-30: #F6F6F4D;
	--color-charcoal-50-35: #F6F6F5A;
	--color-charcoal-50-40: #F6F6F66;
	--color-charcoal-50-45: #F6F6F73;
	--color-charcoal-50-50: #F6F6F80;
	--color-charcoal-50-55: #F6F6F8D;
	--color-charcoal-50-60: #F6F6F9A;
	--color-charcoal-50-65: #F6F6FA6;
	--color-charcoal-50-70: #F6F6FB3;
	--color-charcoal-50-75: #F6F6FC0;
	--color-charcoal-50-80: #F6F6FCD;
	--color-charcoal-50-85: #F6F6FDA;
	--color-charcoal-50-90: #F6F6FE6;
	--color-charcoal-50-95: #F6F6FF3;
	--color-charcoal-100-5: #E7E7E0D;
	--color-charcoal-100-10: #E7E7E1A;
	--color-charcoal-100-15: #E7E7E26;
	--color-charcoal-100-20: #E7E7E33;
	--color-charcoal-100-25: #E7E7E40;
	--color-charcoal-100-30: #E7E7E4D;
	--color-charcoal-100-35: #E7E7E5A;
	--color-charcoal-100-40: #E7E7E66;
	--color-charcoal-100-45: #E7E7E73;
	--color-charcoal-100-50: #E7E7E80;
	--color-charcoal-100-55: #E7E7E8D;
	--color-charcoal-100-60: #E7E7E9A;
	--color-charcoal-100-65: #E7E7EA6;
	--color-charcoal-100-70: #E7E7EB3;
	--color-charcoal-100-75: #E7E7EC0;
	--color-charcoal-100-80: #E7E7ECD;
	--color-charcoal-100-85: #E7E7EDA;
	--color-charcoal-100-90: #E7E7EE6;
	--color-charcoal-100-95: #E7E7EF3;
	--color-charcoal-200-5: #D1D1D0D;
	--color-charcoal-200-10: #D1D1D1A;
	--color-charcoal-200-15: #D1D1D26;
	--color-charcoal-200-20: #D1D1D33;
	--color-charcoal-200-25: #D1D1D40;
	--color-charcoal-200-30: #D1D1D4D;
	--color-charcoal-200-35: #D1D1D5A;
	--color-charcoal-200-40: #D1D1D66;
	--color-charcoal-200-45: #D1D1D73;
	--color-charcoal-200-50: #D1D1D80;
	--color-charcoal-200-55: #D1D1D8D;
	--color-charcoal-200-60: #D1D1D9A;
	--color-charcoal-200-65: #D1D1DA6;
	--color-charcoal-200-70: #D1D1DB3;
	--color-charcoal-200-75: #D1D1DC0;
	--color-charcoal-200-80: #D1D1DCD;
	--color-charcoal-200-85: #D1D1DDA;
	--color-charcoal-200-90: #D1D1DE6;
	--color-charcoal-200-95: #D1D1DF3;
	--color-charcoal-300-5: #B0B0B0D;
	--color-charcoal-300-10: #B0B0B1A;
	--color-charcoal-300-15: #B0B0B26;
	--color-charcoal-300-20: #B0B0B33;
	--color-charcoal-300-25: #B0B0B40;
	--color-charcoal-300-30: #B0B0B4D;
	--color-charcoal-300-35: #B0B0B5A;
	--color-charcoal-300-40: #B0B0B66;
	--color-charcoal-300-45: #B0B0B73;
	--color-charcoal-300-50: #B0B0B80;
	--color-charcoal-300-55: #B0B0B8D;
	--color-charcoal-300-60: #B0B0B9A;
	--color-charcoal-300-65: #B0B0BA6;
	--color-charcoal-300-70: #B0B0BB3;
	--color-charcoal-300-75: #B0B0BC0;
	--color-charcoal-300-80: #B0B0BCD;
	--color-charcoal-300-85: #B0B0BDA;
	--color-charcoal-300-90: #B0B0BE6;
	--color-charcoal-300-95: #B0B0BF3;
	--color-charcoal-400-5: #888880D;
	--color-charcoal-400-10: #888881A;
	--color-charcoal-400-15: #8888826;
	--color-charcoal-400-20: #8888833;
	--color-charcoal-400-25: #8888840;
	--color-charcoal-400-30: #888884D;
	--color-charcoal-400-35: #888885A;
	--color-charcoal-400-40: #8888866;
	--color-charcoal-400-45: #8888873;
	--color-charcoal-400-50: #8888880;
	--color-charcoal-400-55: #888888D;
	--color-charcoal-400-60: #888889A;
	--color-charcoal-400-65: #88888A6;
	--color-charcoal-400-70: #88888B3;
	--color-charcoal-400-75: #88888C0;
	--color-charcoal-400-80: #88888CD;
	--color-charcoal-400-85: #88888DA;
	--color-charcoal-400-90: #88888E6;
	--color-charcoal-400-95: #88888F3;
	--color-charcoal-500-5: #6D6D60D;
	--color-charcoal-500-10: #6D6D61A;
	--color-charcoal-500-15: #6D6D626;
	--color-charcoal-500-20: #6D6D633;
	--color-charcoal-500-25: #6D6D640;
	--color-charcoal-500-30: #6D6D64D;
	--color-charcoal-500-35: #6D6D65A;
	--color-charcoal-500-40: #6D6D666;
	--color-charcoal-500-45: #6D6D673;
	--color-charcoal-500-50: #6D6D680;
	--color-charcoal-500-55: #6D6D68D;
	--color-charcoal-500-60: #6D6D69A;
	--color-charcoal-500-65: #6D6D6A6;
	--color-charcoal-500-70: #6D6D6B3;
	--color-charcoal-500-75: #6D6D6C0;
	--color-charcoal-500-80: #6D6D6CD;
	--color-charcoal-500-85: #6D6D6DA;
	--color-charcoal-500-90: #6D6D6E6;
	--color-charcoal-500-95: #6D6D6F3;
	--color-charcoal-600-5: #5D5D50D;
	--color-charcoal-600-10: #5D5D51A;
	--color-charcoal-600-15: #5D5D526;
	--color-charcoal-600-20: #5D5D533;
	--color-charcoal-600-25: #5D5D540;
	--color-charcoal-600-30: #5D5D54D;
	--color-charcoal-600-35: #5D5D55A;
	--color-charcoal-600-40: #5D5D566;
	--color-charcoal-600-45: #5D5D573;
	--color-charcoal-600-50: #5D5D580;
	--color-charcoal-600-55: #5D5D58D;
	--color-charcoal-600-60: #5D5D59A;
	--color-charcoal-600-65: #5D5D5A6;
	--color-charcoal-600-70: #5D5D5B3;
	--color-charcoal-600-75: #5D5D5C0;
	--color-charcoal-600-80: #5D5D5CD;
	--color-charcoal-600-85: #5D5D5DA;
	--color-charcoal-600-90: #5D5D5E6;
	--color-charcoal-600-95: #5D5D5F3;
	--color-charcoal-700-5: #4F4F40D;
	--color-charcoal-700-10: #4F4F41A;
	--color-charcoal-700-15: #4F4F426;
	--color-charcoal-700-20: #4F4F433;
	--color-charcoal-700-25: #4F4F440;
	--color-charcoal-700-30: #4F4F44D;
	--color-charcoal-700-35: #4F4F45A;
	--color-charcoal-700-40: #4F4F466;
	--color-charcoal-700-45: #4F4F473;
	--color-charcoal-700-50: #4F4F480;
	--color-charcoal-700-55: #4F4F48D;
	--color-charcoal-700-60: #4F4F49A;
	--color-charcoal-700-65: #4F4F4A6;
	--color-charcoal-700-70: #4F4F4B3;
	--color-charcoal-700-75: #4F4F4C0;
	--color-charcoal-700-80: #4F4F4CD;
	--color-charcoal-700-85: #4F4F4DA;
	--color-charcoal-700-90: #4F4F4E6;
	--color-charcoal-700-95: #4F4F4F3;
	--color-charcoal-800-5: #454540D;
	--color-charcoal-800-10: #454541A;
	--color-charcoal-800-15: #4545426;
	--color-charcoal-800-20: #4545433;
	--color-charcoal-800-25: #4545440;
	--color-charcoal-800-30: #454544D;
	--color-charcoal-800-35: #454545A;
	--color-charcoal-800-40: #4545466;
	--color-charcoal-800-45: #4545473;
	--color-charcoal-800-50: #4545480;
	--color-charcoal-800-55: #454548D;
	--color-charcoal-800-60: #454549A;
	--color-charcoal-800-65: #45454A6;
	--color-charcoal-800-70: #45454B3;
	--color-charcoal-800-75: #45454C0;
	--color-charcoal-800-80: #45454CD;
	--color-charcoal-800-85: #45454DA;
	--color-charcoal-800-90: #45454E6;
	--color-charcoal-800-95: #45454F3;
	--color-charcoal-900-5: #3D3D30D;
	--color-charcoal-900-10: #3D3D31A;
	--color-charcoal-900-15: #3D3D326;
	--color-charcoal-900-20: #3D3D333;
	--color-charcoal-900-25: #3D3D340;
	--color-charcoal-900-30: #3D3D34D;
	--color-charcoal-900-35: #3D3D35A;
	--color-charcoal-900-40: #3D3D366;
	--color-charcoal-900-45: #3D3D373;
	--color-charcoal-900-50: #3D3D380;
	--color-charcoal-900-55: #3D3D38D;
	--color-charcoal-900-60: #3D3D39A;
	--color-charcoal-900-65: #3D3D3A6;
	--color-charcoal-900-70: #3D3D3B3;
	--color-charcoal-900-75: #3D3D3C0;
	--color-charcoal-900-80: #3D3D3CD;
	--color-charcoal-900-85: #3D3D3DA;
	--color-charcoal-900-90: #3D3D3E6;
	--color-charcoal-900-95: #3D3D3F3;
	--color-charcoal-1000-5: #272720D;
	--color-charcoal-1000-10: #272721A;
	--color-charcoal-1000-15: #2727226;
	--color-charcoal-1000-20: #2727233;
	--color-charcoal-1000-25: #2727240;
	--color-charcoal-1000-30: #272724D;
	--color-charcoal-1000-35: #272725A;
	--color-charcoal-1000-40: #2727266;
	--color-charcoal-1000-45: #2727273;
	--color-charcoal-1000-50: #2727280;
	--color-charcoal-1000-55: #272728D;
	--color-charcoal-1000-60: #272729A;
	--color-charcoal-1000-65: #27272A6;
	--color-charcoal-1000-70: #27272B3;
	--color-charcoal-1000-75: #27272C0;
	--color-charcoal-1000-80: #27272CD;
	--color-charcoal-1000-85: #27272DA;
	--color-charcoal-1000-90: #27272E6;
	--color-charcoal-1000-95: #27272F3;
	--color-charcoal-1050-5: #141410D;
	--color-charcoal-1050-10: #141411A;
	--color-charcoal-1050-15: #1414126;
	--color-charcoal-1050-20: #1414133;
	--color-charcoal-1050-25: #1414140;
	--color-charcoal-1050-30: #141414D;
	--color-charcoal-1050-35: #141415A;
	--color-charcoal-1050-40: #1414166;
	--color-charcoal-1050-45: #1414173;
	--color-charcoal-1050-50: #1414180;
	--color-charcoal-1050-55: #141418D;
	--color-charcoal-1050-60: #141419A;
	--color-charcoal-1050-65: #14141A6;
	--color-charcoal-1050-70: #14141B3;
	--color-charcoal-1050-75: #14141C0;
	--color-charcoal-1050-80: #14141CD;
	--color-charcoal-1050-85: #14141DA;
	--color-charcoal-1050-90: #14141E6;
	--color-charcoal-1050-95: #14141F3;
}