@theme {
	--color-lake-50-5: #F1F8F0D;
	--color-lake-50-10: #F1F8F1A;
	--color-lake-50-15: #F1F8F26;
	--color-lake-50-20: #F1F8F33;
	--color-lake-50-25: #F1F8F40;
	--color-lake-50-30: #F1F8F4D;
	--color-lake-50-35: #F1F8F5A;
	--color-lake-50-40: #F1F8F66;
	--color-lake-50-45: #F1F8F73;
	--color-lake-50-50: #F1F8F80;
	--color-lake-50-55: #F1F8F8D;
	--color-lake-50-60: #F1F8F9A;
	--color-lake-50-65: #F1F8FA6;
	--color-lake-50-70: #F1F8FB3;
	--color-lake-50-75: #F1F8FC0;
	--color-lake-50-80: #F1F8FCD;
	--color-lake-50-85: #F1F8FDA;
	--color-lake-50-90: #F1F8FE6;
	--color-lake-50-95: #F1F8FF3;
	--color-lake-100-5: #DCEDF0D;
	--color-lake-100-10: #DCEDF1A;
	--color-lake-100-15: #DCEDF26;
	--color-lake-100-20: #DCEDF33;
	--color-lake-100-25: #DCEDF40;
	--color-lake-100-30: #DCEDF4D;
	--color-lake-100-35: #DCEDF5A;
	--color-lake-100-40: #DCEDF66;
	--color-lake-100-45: #DCEDF73;
	--color-lake-100-50: #DCEDF80;
	--color-lake-100-55: #DCEDF8D;
	--color-lake-100-60: #DCEDF9A;
	--color-lake-100-65: #DCEDFA6;
	--color-lake-100-70: #DCEDFB3;
	--color-lake-100-75: #DCEDFC0;
	--color-lake-100-80: #DCEDFCD;
	--color-lake-100-85: #DCEDFDA;
	--color-lake-100-90: #DCEDFE6;
	--color-lake-100-95: #DCEDFF3;
	--color-lake-200-5: #BEDCE0D;
	--color-lake-200-10: #BEDCE1A;
	--color-lake-200-15: #BEDCE26;
	--color-lake-200-20: #BEDCE33;
	--color-lake-200-25: #BEDCE40;
	--color-lake-200-30: #BEDCE4D;
	--color-lake-200-35: #BEDCE5A;
	--color-lake-200-40: #BEDCE66;
	--color-lake-200-45: #BEDCE73;
	--color-lake-200-50: #BEDCE80;
	--color-lake-200-55: #BEDCE8D;
	--color-lake-200-60: #BEDCE9A;
	--color-lake-200-65: #BEDCEA6;
	--color-lake-200-70: #BEDCEB3;
	--color-lake-200-75: #BEDCEC0;
	--color-lake-200-80: #BEDCECD;
	--color-lake-200-85: #BEDCEDA;
	--color-lake-200-90: #BEDCEE6;
	--color-lake-200-95: #BEDCEF3;
	--color-lake-300-5: #91C3C0D;
	--color-lake-300-10: #91C3C1A;
	--color-lake-300-15: #91C3C26;
	--color-lake-300-20: #91C3C33;
	--color-lake-300-25: #91C3C40;
	--color-lake-300-30: #91C3C4D;
	--color-lake-300-35: #91C3C5A;
	--color-lake-300-40: #91C3C66;
	--color-lake-300-45: #91C3C73;
	--color-lake-300-50: #91C3C80;
	--color-lake-300-55: #91C3C8D;
	--color-lake-300-60: #91C3C9A;
	--color-lake-300-65: #91C3CA6;
	--color-lake-300-70: #91C3CB3;
	--color-lake-300-75: #91C3CC0;
	--color-lake-300-80: #91C3CCD;
	--color-lake-300-85: #91C3CDA;
	--color-lake-300-90: #91C3CE6;
	--color-lake-300-95: #91C3CF3;
	--color-lake-400-5: #579EB0D;
	--color-lake-400-10: #579EB1A;
	--color-lake-400-15: #579EB26;
	--color-lake-400-20: #579EB33;
	--color-lake-400-25: #579EB40;
	--color-lake-400-30: #579EB4D;
	--color-lake-400-35: #579EB5A;
	--color-lake-400-40: #579EB66;
	--color-lake-400-45: #579EB73;
	--color-lake-400-50: #579EB80;
	--color-lake-400-55: #579EB8D;
	--color-lake-400-60: #579EB9A;
	--color-lake-400-65: #579EBA6;
	--color-lake-400-70: #579EBB3;
	--color-lake-400-75: #579EBC0;
	--color-lake-400-80: #579EBCD;
	--color-lake-400-85: #579EBDA;
	--color-lake-400-90: #579EBE6;
	--color-lake-400-95: #579EBF3;
	--color-lake-500-5: #418590D;
	--color-lake-500-10: #418591A;
	--color-lake-500-15: #4185926;
	--color-lake-500-20: #4185933;
	--color-lake-500-25: #4185940;
	--color-lake-500-30: #418594D;
	--color-lake-500-35: #418595A;
	--color-lake-500-40: #4185966;
	--color-lake-500-45: #4185973;
	--color-lake-500-50: #4185980;
	--color-lake-500-55: #418598D;
	--color-lake-500-60: #418599A;
	--color-lake-500-65: #41859A6;
	--color-lake-500-70: #41859B3;
	--color-lake-500-75: #41859C0;
	--color-lake-500-80: #41859CD;
	--color-lake-500-85: #41859DA;
	--color-lake-500-90: #41859E6;
	--color-lake-500-95: #41859F3;
	--color-lake-600-5: #396D80D;
	--color-lake-600-10: #396D81A;
	--color-lake-600-15: #396D826;
	--color-lake-600-20: #396D833;
	--color-lake-600-25: #396D840;
	--color-lake-600-30: #396D84D;
	--color-lake-600-35: #396D85A;
	--color-lake-600-40: #396D866;
	--color-lake-600-45: #396D873;
	--color-lake-600-50: #396D880;
	--color-lake-600-55: #396D88D;
	--color-lake-600-60: #396D89A;
	--color-lake-600-65: #396D8A6;
	--color-lake-600-70: #396D8B3;
	--color-lake-600-75: #396D8C0;
	--color-lake-600-80: #396D8CD;
	--color-lake-600-85: #396D8DA;
	--color-lake-600-90: #396D8E6;
	--color-lake-600-95: #396D8F3;
	--color-lake-700-5: #335B60D;
	--color-lake-700-10: #335B61A;
	--color-lake-700-15: #335B626;
	--color-lake-700-20: #335B633;
	--color-lake-700-25: #335B640;
	--color-lake-700-30: #335B64D;
	--color-lake-700-35: #335B65A;
	--color-lake-700-40: #335B666;
	--color-lake-700-45: #335B673;
	--color-lake-700-50: #335B680;
	--color-lake-700-55: #335B68D;
	--color-lake-700-60: #335B69A;
	--color-lake-700-65: #335B6A6;
	--color-lake-700-70: #335B6B3;
	--color-lake-700-75: #335B6C0;
	--color-lake-700-80: #335B6CD;
	--color-lake-700-85: #335B6DA;
	--color-lake-700-90: #335B6E6;
	--color-lake-700-95: #335B6F3;
	--color-lake-800-5: #314D50D;
	--color-lake-800-10: #314D51A;
	--color-lake-800-15: #314D526;
	--color-lake-800-20: #314D533;
	--color-lake-800-25: #314D540;
	--color-lake-800-30: #314D54D;
	--color-lake-800-35: #314D55A;
	--color-lake-800-40: #314D566;
	--color-lake-800-45: #314D573;
	--color-lake-800-50: #314D580;
	--color-lake-800-55: #314D58D;
	--color-lake-800-60: #314D59A;
	--color-lake-800-65: #314D5A6;
	--color-lake-800-70: #314D5B3;
	--color-lake-800-75: #314D5C0;
	--color-lake-800-80: #314D5CD;
	--color-lake-800-85: #314D5DA;
	--color-lake-800-90: #314D5E6;
	--color-lake-800-95: #314D5F3;
	--color-lake-900-5: #2C4140D;
	--color-lake-900-10: #2C4141A;
	--color-lake-900-15: #2C41426;
	--color-lake-900-20: #2C41433;
	--color-lake-900-25: #2C41440;
	--color-lake-900-30: #2C4144D;
	--color-lake-900-35: #2C4145A;
	--color-lake-900-40: #2C41466;
	--color-lake-900-45: #2C41473;
	--color-lake-900-50: #2C41480;
	--color-lake-900-55: #2C4148D;
	--color-lake-900-60: #2C4149A;
	--color-lake-900-65: #2C414A6;
	--color-lake-900-70: #2C414B3;
	--color-lake-900-75: #2C414C0;
	--color-lake-900-80: #2C414CD;
	--color-lake-900-85: #2C414DA;
	--color-lake-900-90: #2C414E6;
	--color-lake-900-95: #2C414F3;
	--color-lake-950-5: #192A30D;
	--color-lake-950-10: #192A31A;
	--color-lake-950-15: #192A326;
	--color-lake-950-20: #192A333;
	--color-lake-950-25: #192A340;
	--color-lake-950-30: #192A34D;
	--color-lake-950-35: #192A35A;
	--color-lake-950-40: #192A366;
	--color-lake-950-45: #192A373;
	--color-lake-950-50: #192A380;
	--color-lake-950-55: #192A38D;
	--color-lake-950-60: #192A39A;
	--color-lake-950-65: #192A3A6;
	--color-lake-950-70: #192A3B3;
	--color-lake-950-75: #192A3C0;
	--color-lake-950-80: #192A3CD;
	--color-lake-950-85: #192A3DA;
	--color-lake-950-90: #192A3E6;
	--color-lake-950-95: #192A3F3;
}