@theme {
	--color-linen-50-5: #FBF6F0D;
	--color-linen-50-10: #FBF6F1A;
	--color-linen-50-15: #FBF6F26;
	--color-linen-50-20: #FBF6F33;
	--color-linen-50-25: #FBF6F40;
	--color-linen-50-30: #FBF6F4D;
	--color-linen-50-35: #FBF6F5A;
	--color-linen-50-40: #FBF6F66;
	--color-linen-50-45: #FBF6F73;
	--color-linen-50-50: #FBF6F80;
	--color-linen-50-55: #FBF6F8D;
	--color-linen-50-60: #FBF6F9A;
	--color-linen-50-65: #FBF6FA6;
	--color-linen-50-70: #FBF6FB3;
	--color-linen-50-75: #FBF6FC0;
	--color-linen-50-80: #FBF6FCD;
	--color-linen-50-85: #FBF6FDA;
	--color-linen-50-90: #FBF6FE6;
	--color-linen-50-95: #FBF6FF3;
	--color-linen-100-5: #F6ECE0D;
	--color-linen-100-10: #F6ECE1A;
	--color-linen-100-15: #F6ECE26;
	--color-linen-100-20: #F6ECE33;
	--color-linen-100-25: #F6ECE40;
	--color-linen-100-30: #F6ECE4D;
	--color-linen-100-35: #F6ECE5A;
	--color-linen-100-40: #F6ECE66;
	--color-linen-100-45: #F6ECE73;
	--color-linen-100-50: #F6ECE80;
	--color-linen-100-55: #F6ECE8D;
	--color-linen-100-60: #F6ECE9A;
	--color-linen-100-65: #F6ECEA6;
	--color-linen-100-70: #F6ECEB3;
	--color-linen-100-75: #F6ECEC0;
	--color-linen-100-80: #F6ECECD;
	--color-linen-100-85: #F6ECEDA;
	--color-linen-100-90: #F6ECEE6;
	--color-linen-100-95: #F6ECEF3;
	--color-linen-200-5: #EAD2B0D;
	--color-linen-200-10: #EAD2B1A;
	--color-linen-200-15: #EAD2B26;
	--color-linen-200-20: #EAD2B33;
	--color-linen-200-25: #EAD2B40;
	--color-linen-200-30: #EAD2B4D;
	--color-linen-200-35: #EAD2B5A;
	--color-linen-200-40: #EAD2B66;
	--color-linen-200-45: #EAD2B73;
	--color-linen-200-50: #EAD2B80;
	--color-linen-200-55: #EAD2B8D;
	--color-linen-200-60: #EAD2B9A;
	--color-linen-200-65: #EAD2BA6;
	--color-linen-200-70: #EAD2BB3;
	--color-linen-200-75: #EAD2BC0;
	--color-linen-200-80: #EAD2BCD;
	--color-linen-200-85: #EAD2BDA;
	--color-linen-200-90: #EAD2BE6;
	--color-linen-200-95: #EAD2BF3;
	--color-linen-300-5: #DCB290D;
	--color-linen-300-10: #DCB291A;
	--color-linen-300-15: #DCB2926;
	--color-linen-300-20: #DCB2933;
	--color-linen-300-25: #DCB2940;
	--color-linen-300-30: #DCB294D;
	--color-linen-300-35: #DCB295A;
	--color-linen-300-40: #DCB2966;
	--color-linen-300-45: #DCB2973;
	--color-linen-300-50: #DCB2980;
	--color-linen-300-55: #DCB298D;
	--color-linen-300-60: #DCB299A;
	--color-linen-300-65: #DCB29A6;
	--color-linen-300-70: #DCB29B3;
	--color-linen-300-75: #DCB29C0;
	--color-linen-300-80: #DCB29CD;
	--color-linen-300-85: #DCB29DA;
	--color-linen-300-90: #DCB29E6;
	--color-linen-300-95: #DCB29F3;
	--color-linen-400-5: #CD8D60D;
	--color-linen-400-10: #CD8D61A;
	--color-linen-400-15: #CD8D626;
	--color-linen-400-20: #CD8D633;
	--color-linen-400-25: #CD8D640;
	--color-linen-400-30: #CD8D64D;
	--color-linen-400-35: #CD8D65A;
	--color-linen-400-40: #CD8D666;
	--color-linen-400-45: #CD8D673;
	--color-linen-400-50: #CD8D680;
	--color-linen-400-55: #CD8D68D;
	--color-linen-400-60: #CD8D69A;
	--color-linen-400-65: #CD8D6A6;
	--color-linen-400-70: #CD8D6B3;
	--color-linen-400-75: #CD8D6C0;
	--color-linen-400-80: #CD8D6CD;
	--color-linen-400-85: #CD8D6DA;
	--color-linen-400-90: #CD8D6E6;
	--color-linen-400-95: #CD8D6F3;
	--color-linen-500-5: #C27240D;
	--color-linen-500-10: #C27241A;
	--color-linen-500-15: #C272426;
	--color-linen-500-20: #C272433;
	--color-linen-500-25: #C272440;
	--color-linen-500-30: #C27244D;
	--color-linen-500-35: #C27245A;
	--color-linen-500-40: #C272466;
	--color-linen-500-45: #C272473;
	--color-linen-500-50: #C272480;
	--color-linen-500-55: #C27248D;
	--color-linen-500-60: #C27249A;
	--color-linen-500-65: #C2724A6;
	--color-linen-500-70: #C2724B3;
	--color-linen-500-75: #C2724C0;
	--color-linen-500-80: #C2724CD;
	--color-linen-500-85: #C2724DA;
	--color-linen-500-90: #C2724E6;
	--color-linen-500-95: #C2724F3;
	--color-linen-600-5: #B45E40D;
	--color-linen-600-10: #B45E41A;
	--color-linen-600-15: #B45E426;
	--color-linen-600-20: #B45E433;
	--color-linen-600-25: #B45E440;
	--color-linen-600-30: #B45E44D;
	--color-linen-600-35: #B45E45A;
	--color-linen-600-40: #B45E466;
	--color-linen-600-45: #B45E473;
	--color-linen-600-50: #B45E480;
	--color-linen-600-55: #B45E48D;
	--color-linen-600-60: #B45E49A;
	--color-linen-600-65: #B45E4A6;
	--color-linen-600-70: #B45E4B3;
	--color-linen-600-75: #B45E4C0;
	--color-linen-600-80: #B45E4CD;
	--color-linen-600-85: #B45E4DA;
	--color-linen-600-90: #B45E4E6;
	--color-linen-600-95: #B45E4F3;
	--color-linen-700-5: #964A30D;
	--color-linen-700-10: #964A31A;
	--color-linen-700-15: #964A326;
	--color-linen-700-20: #964A333;
	--color-linen-700-25: #964A340;
	--color-linen-700-30: #964A34D;
	--color-linen-700-35: #964A35A;
	--color-linen-700-40: #964A366;
	--color-linen-700-45: #964A373;
	--color-linen-700-50: #964A380;
	--color-linen-700-55: #964A38D;
	--color-linen-700-60: #964A39A;
	--color-linen-700-65: #964A3A6;
	--color-linen-700-70: #964A3B3;
	--color-linen-700-75: #964A3C0;
	--color-linen-700-80: #964A3CD;
	--color-linen-700-85: #964A3DA;
	--color-linen-700-90: #964A3E6;
	--color-linen-700-95: #964A3F3;
	--color-linen-800-5: #793E30D;
	--color-linen-800-10: #793E31A;
	--color-linen-800-15: #793E326;
	--color-linen-800-20: #793E333;
	--color-linen-800-25: #793E340;
	--color-linen-800-30: #793E34D;
	--color-linen-800-35: #793E35A;
	--color-linen-800-40: #793E366;
	--color-linen-800-45: #793E373;
	--color-linen-800-50: #793E380;
	--color-linen-800-55: #793E38D;
	--color-linen-800-60: #793E39A;
	--color-linen-800-65: #793E3A6;
	--color-linen-800-70: #793E3B3;
	--color-linen-800-75: #793E3C0;
	--color-linen-800-80: #793E3CD;
	--color-linen-800-85: #793E3DA;
	--color-linen-800-90: #793E3E6;
	--color-linen-800-95: #793E3F3;
	--color-linen-900-5: #623520D;
	--color-linen-900-10: #623521A;
	--color-linen-900-15: #6235226;
	--color-linen-900-20: #6235233;
	--color-linen-900-25: #6235240;
	--color-linen-900-30: #623524D;
	--color-linen-900-35: #623525A;
	--color-linen-900-40: #6235266;
	--color-linen-900-45: #6235273;
	--color-linen-900-50: #6235280;
	--color-linen-900-55: #623528D;
	--color-linen-900-60: #623529A;
	--color-linen-900-65: #62352A6;
	--color-linen-900-70: #62352B3;
	--color-linen-900-75: #62352C0;
	--color-linen-900-80: #62352CD;
	--color-linen-900-85: #62352DA;
	--color-linen-900-90: #62352E6;
	--color-linen-900-95: #62352F3;
	--color-linen-950-5: #341910D;
	--color-linen-950-10: #341911A;
	--color-linen-950-15: #3419126;
	--color-linen-950-20: #3419133;
	--color-linen-950-25: #3419140;
	--color-linen-950-30: #341914D;
	--color-linen-950-35: #341915A;
	--color-linen-950-40: #3419166;
	--color-linen-950-45: #3419173;
	--color-linen-950-50: #3419180;
	--color-linen-950-55: #341918D;
	--color-linen-950-60: #341919A;
	--color-linen-950-65: #34191A6;
	--color-linen-950-70: #34191B3;
	--color-linen-950-75: #34191C0;
	--color-linen-950-80: #34191CD;
	--color-linen-950-85: #34191DA;
	--color-linen-950-90: #34191E6;
	--color-linen-950-95: #34191F3;
}