@theme {
	--color-maritime-50-5: #F4F7F0D;
	--color-maritime-50-10: #F4F7F1A;
	--color-maritime-50-15: #F4F7F26;
	--color-maritime-50-20: #F4F7F33;
	--color-maritime-50-25: #F4F7F40;
	--color-maritime-50-30: #F4F7F4D;
	--color-maritime-50-35: #F4F7F5A;
	--color-maritime-50-40: #F4F7F66;
	--color-maritime-50-45: #F4F7F73;
	--color-maritime-50-50: #F4F7F80;
	--color-maritime-50-55: #F4F7F8D;
	--color-maritime-50-60: #F4F7F9A;
	--color-maritime-50-65: #F4F7FA6;
	--color-maritime-50-70: #F4F7FB3;
	--color-maritime-50-75: #F4F7FC0;
	--color-maritime-50-80: #F4F7FCD;
	--color-maritime-50-85: #F4F7FDA;
	--color-maritime-50-90: #F4F7FE6;
	--color-maritime-50-95: #F4F7FF3;
	--color-maritime-100-5: #EAF0F0D;
	--color-maritime-100-10: #EAF0F1A;
	--color-maritime-100-15: #EAF0F26;
	--color-maritime-100-20: #EAF0F33;
	--color-maritime-100-25: #EAF0F40;
	--color-maritime-100-30: #EAF0F4D;
	--color-maritime-100-35: #EAF0F5A;
	--color-maritime-100-40: #EAF0F66;
	--color-maritime-100-45: #EAF0F73;
	--color-maritime-100-50: #EAF0F80;
	--color-maritime-100-55: #EAF0F8D;
	--color-maritime-100-60: #EAF0F9A;
	--color-maritime-100-65: #EAF0FA6;
	--color-maritime-100-70: #EAF0FB3;
	--color-maritime-100-75: #EAF0FC0;
	--color-maritime-100-80: #EAF0FCD;
	--color-maritime-100-85: #EAF0FDA;
	--color-maritime-100-90: #EAF0FE6;
	--color-maritime-100-95: #EAF0FF3;
	--color-maritime-200-5: #D9E3E0D;
	--color-maritime-200-10: #D9E3E1A;
	--color-maritime-200-15: #D9E3E26;
	--color-maritime-200-20: #D9E3E33;
	--color-maritime-200-25: #D9E3E40;
	--color-maritime-200-30: #D9E3E4D;
	--color-maritime-200-35: #D9E3E5A;
	--color-maritime-200-40: #D9E3E66;
	--color-maritime-200-45: #D9E3E73;
	--color-maritime-200-50: #D9E3E80;
	--color-maritime-200-55: #D9E3E8D;
	--color-maritime-200-60: #D9E3E9A;
	--color-maritime-200-65: #D9E3EA6;
	--color-maritime-200-70: #D9E3EB3;
	--color-maritime-200-75: #D9E3EC0;
	--color-maritime-200-80: #D9E3ECD;
	--color-maritime-200-85: #D9E3EDA;
	--color-maritime-200-90: #D9E3EE6;
	--color-maritime-200-95: #D9E3EF3;
	--color-maritime-300-5: #C1D0E0D;
	--color-maritime-300-10: #C1D0E1A;
	--color-maritime-300-15: #C1D0E26;
	--color-maritime-300-20: #C1D0E33;
	--color-maritime-300-25: #C1D0E40;
	--color-maritime-300-30: #C1D0E4D;
	--color-maritime-300-35: #C1D0E5A;
	--color-maritime-300-40: #C1D0E66;
	--color-maritime-300-45: #C1D0E73;
	--color-maritime-300-50: #C1D0E80;
	--color-maritime-300-55: #C1D0E8D;
	--color-maritime-300-60: #C1D0E9A;
	--color-maritime-300-65: #C1D0EA6;
	--color-maritime-300-70: #C1D0EB3;
	--color-maritime-300-75: #C1D0EC0;
	--color-maritime-300-80: #C1D0ECD;
	--color-maritime-300-85: #C1D0EDA;
	--color-maritime-300-90: #C1D0EE6;
	--color-maritime-300-95: #C1D0EF3;
	--color-maritime-400-5: #A8B8D0D;
	--color-maritime-400-10: #A8B8D1A;
	--color-maritime-400-15: #A8B8D26;
	--color-maritime-400-20: #A8B8D33;
	--color-maritime-400-25: #A8B8D40;
	--color-maritime-400-30: #A8B8D4D;
	--color-maritime-400-35: #A8B8D5A;
	--color-maritime-400-40: #A8B8D66;
	--color-maritime-400-45: #A8B8D73;
	--color-maritime-400-50: #A8B8D80;
	--color-maritime-400-55: #A8B8D8D;
	--color-maritime-400-60: #A8B8D9A;
	--color-maritime-400-65: #A8B8DA6;
	--color-maritime-400-70: #A8B8DB3;
	--color-maritime-400-75: #A8B8DC0;
	--color-maritime-400-80: #A8B8DCD;
	--color-maritime-400-85: #A8B8DDA;
	--color-maritime-400-90: #A8B8DE6;
	--color-maritime-400-95: #A8B8DF3;
	--color-maritime-500-5: #91A1C0D;
	--color-maritime-500-10: #91A1C1A;
	--color-maritime-500-15: #91A1C26;
	--color-maritime-500-20: #91A1C33;
	--color-maritime-500-25: #91A1C40;
	--color-maritime-500-30: #91A1C4D;
	--color-maritime-500-35: #91A1C5A;
	--color-maritime-500-40: #91A1C66;
	--color-maritime-500-45: #91A1C73;
	--color-maritime-500-50: #91A1C80;
	--color-maritime-500-55: #91A1C8D;
	--color-maritime-500-60: #91A1C9A;
	--color-maritime-500-65: #91A1CA6;
	--color-maritime-500-70: #91A1CB3;
	--color-maritime-500-75: #91A1CC0;
	--color-maritime-500-80: #91A1CCD;
	--color-maritime-500-85: #91A1CDA;
	--color-maritime-500-90: #91A1CE6;
	--color-maritime-500-95: #91A1CF3;
	--color-maritime-600-5: #7A88B0D;
	--color-maritime-600-10: #7A88B1A;
	--color-maritime-600-15: #7A88B26;
	--color-maritime-600-20: #7A88B33;
	--color-maritime-600-25: #7A88B40;
	--color-maritime-600-30: #7A88B4D;
	--color-maritime-600-35: #7A88B5A;
	--color-maritime-600-40: #7A88B66;
	--color-maritime-600-45: #7A88B73;
	--color-maritime-600-50: #7A88B80;
	--color-maritime-600-55: #7A88B8D;
	--color-maritime-600-60: #7A88B9A;
	--color-maritime-600-65: #7A88BA6;
	--color-maritime-600-70: #7A88BB3;
	--color-maritime-600-75: #7A88BC0;
	--color-maritime-600-80: #7A88BCD;
	--color-maritime-600-85: #7A88BDA;
	--color-maritime-600-90: #7A88BE6;
	--color-maritime-600-95: #7A88BF3;
	--color-maritime-700-5: #707BA0D;
	--color-maritime-700-10: #707BA1A;
	--color-maritime-700-15: #707BA26;
	--color-maritime-700-20: #707BA33;
	--color-maritime-700-25: #707BA40;
	--color-maritime-700-30: #707BA4D;
	--color-maritime-700-35: #707BA5A;
	--color-maritime-700-40: #707BA66;
	--color-maritime-700-45: #707BA73;
	--color-maritime-700-50: #707BA80;
	--color-maritime-700-55: #707BA8D;
	--color-maritime-700-60: #707BA9A;
	--color-maritime-700-65: #707BAA6;
	--color-maritime-700-70: #707BAB3;
	--color-maritime-700-75: #707BAC0;
	--color-maritime-700-80: #707BACD;
	--color-maritime-700-85: #707BADA;
	--color-maritime-700-90: #707BAE6;
	--color-maritime-700-95: #707BAF3;
	--color-maritime-800-5: #555E70D;
	--color-maritime-800-10: #555E71A;
	--color-maritime-800-15: #555E726;
	--color-maritime-800-20: #555E733;
	--color-maritime-800-25: #555E740;
	--color-maritime-800-30: #555E74D;
	--color-maritime-800-35: #555E75A;
	--color-maritime-800-40: #555E766;
	--color-maritime-800-45: #555E773;
	--color-maritime-800-50: #555E780;
	--color-maritime-800-55: #555E78D;
	--color-maritime-800-60: #555E79A;
	--color-maritime-800-65: #555E7A6;
	--color-maritime-800-70: #555E7B3;
	--color-maritime-800-75: #555E7C0;
	--color-maritime-800-80: #555E7CD;
	--color-maritime-800-85: #555E7DA;
	--color-maritime-800-90: #555E7E6;
	--color-maritime-800-95: #555E7F3;
	--color-maritime-900-5: #495160D;
	--color-maritime-900-10: #495161A;
	--color-maritime-900-15: #4951626;
	--color-maritime-900-20: #4951633;
	--color-maritime-900-25: #4951640;
	--color-maritime-900-30: #495164D;
	--color-maritime-900-35: #495165A;
	--color-maritime-900-40: #4951666;
	--color-maritime-900-45: #4951673;
	--color-maritime-900-50: #4951680;
	--color-maritime-900-55: #495168D;
	--color-maritime-900-60: #495169A;
	--color-maritime-900-65: #49516A6;
	--color-maritime-900-70: #49516B3;
	--color-maritime-900-75: #49516C0;
	--color-maritime-900-80: #49516CD;
	--color-maritime-900-85: #49516DA;
	--color-maritime-900-90: #49516E6;
	--color-maritime-900-95: #49516F3;
	--color-maritime-950-5: #2B2F30D;
	--color-maritime-950-10: #2B2F31A;
	--color-maritime-950-15: #2B2F326;
	--color-maritime-950-20: #2B2F333;
	--color-maritime-950-25: #2B2F340;
	--color-maritime-950-30: #2B2F34D;
	--color-maritime-950-35: #2B2F35A;
	--color-maritime-950-40: #2B2F366;
	--color-maritime-950-45: #2B2F373;
	--color-maritime-950-50: #2B2F380;
	--color-maritime-950-55: #2B2F38D;
	--color-maritime-950-60: #2B2F39A;
	--color-maritime-950-65: #2B2F3A6;
	--color-maritime-950-70: #2B2F3B3;
	--color-maritime-950-75: #2B2F3C0;
	--color-maritime-950-80: #2B2F3CD;
	--color-maritime-950-85: #2B2F3DA;
	--color-maritime-950-90: #2B2F3E6;
	--color-maritime-950-95: #2B2F3F3;
}