@theme {
	--color-nickel-50-5: #F7F7F0D;
	--color-nickel-50-10: #F7F7F1A;
	--color-nickel-50-15: #F7F7F26;
	--color-nickel-50-20: #F7F7F33;
	--color-nickel-50-25: #F7F7F40;
	--color-nickel-50-30: #F7F7F4D;
	--color-nickel-50-35: #F7F7F5A;
	--color-nickel-50-40: #F7F7F66;
	--color-nickel-50-45: #F7F7F73;
	--color-nickel-50-50: #F7F7F80;
	--color-nickel-50-55: #F7F7F8D;
	--color-nickel-50-60: #F7F7F9A;
	--color-nickel-50-65: #F7F7FA6;
	--color-nickel-50-70: #F7F7FB3;
	--color-nickel-50-75: #F7F7FC0;
	--color-nickel-50-80: #F7F7FCD;
	--color-nickel-50-85: #F7F7FDA;
	--color-nickel-50-90: #F7F7FE6;
	--color-nickel-50-95: #F7F7FF3;
	--color-nickel-100-5: #E5E4E0D;
	--color-nickel-100-10: #E5E4E1A;
	--color-nickel-100-15: #E5E4E26;
	--color-nickel-100-20: #E5E4E33;
	--color-nickel-100-25: #E5E4E40;
	--color-nickel-100-30: #E5E4E4D;
	--color-nickel-100-35: #E5E4E5A;
	--color-nickel-100-40: #E5E4E66;
	--color-nickel-100-45: #E5E4E73;
	--color-nickel-100-50: #E5E4E80;
	--color-nickel-100-55: #E5E4E8D;
	--color-nickel-100-60: #E5E4E9A;
	--color-nickel-100-65: #E5E4EA6;
	--color-nickel-100-70: #E5E4EB3;
	--color-nickel-100-75: #E5E4EC0;
	--color-nickel-100-80: #E5E4ECD;
	--color-nickel-100-85: #E5E4EDA;
	--color-nickel-100-90: #E5E4EE6;
	--color-nickel-100-95: #E5E4EF3;
	--color-nickel-200-5: #CBC9C0D;
	--color-nickel-200-10: #CBC9C1A;
	--color-nickel-200-15: #CBC9C26;
	--color-nickel-200-20: #CBC9C33;
	--color-nickel-200-25: #CBC9C40;
	--color-nickel-200-30: #CBC9C4D;
	--color-nickel-200-35: #CBC9C5A;
	--color-nickel-200-40: #CBC9C66;
	--color-nickel-200-45: #CBC9C73;
	--color-nickel-200-50: #CBC9C80;
	--color-nickel-200-55: #CBC9C8D;
	--color-nickel-200-60: #CBC9C9A;
	--color-nickel-200-65: #CBC9CA6;
	--color-nickel-200-70: #CBC9CB3;
	--color-nickel-200-75: #CBC9CC0;
	--color-nickel-200-80: #CBC9CCD;
	--color-nickel-200-85: #CBC9CDA;
	--color-nickel-200-90: #CBC9CE6;
	--color-nickel-200-95: #CBC9CF3;
	--color-nickel-300-5: #A9A790D;
	--color-nickel-300-10: #A9A791A;
	--color-nickel-300-15: #A9A7926;
	--color-nickel-300-20: #A9A7933;
	--color-nickel-300-25: #A9A7940;
	--color-nickel-300-30: #A9A794D;
	--color-nickel-300-35: #A9A795A;
	--color-nickel-300-40: #A9A7966;
	--color-nickel-300-45: #A9A7973;
	--color-nickel-300-50: #A9A7980;
	--color-nickel-300-55: #A9A798D;
	--color-nickel-300-60: #A9A799A;
	--color-nickel-300-65: #A9A79A6;
	--color-nickel-300-70: #A9A79B3;
	--color-nickel-300-75: #A9A79C0;
	--color-nickel-300-80: #A9A79CD;
	--color-nickel-300-85: #A9A79DA;
	--color-nickel-300-90: #A9A79E6;
	--color-nickel-300-95: #A9A79F3;
	--color-nickel-400-5: #8C8B80D;
	--color-nickel-400-10: #8C8B81A;
	--color-nickel-400-15: #8C8B826;
	--color-nickel-400-20: #8C8B833;
	--color-nickel-400-25: #8C8B840;
	--color-nickel-400-30: #8C8B84D;
	--color-nickel-400-35: #8C8B85A;
	--color-nickel-400-40: #8C8B866;
	--color-nickel-400-45: #8C8B873;
	--color-nickel-400-50: #8C8B880;
	--color-nickel-400-55: #8C8B88D;
	--color-nickel-400-60: #8C8B89A;
	--color-nickel-400-65: #8C8B8A6;
	--color-nickel-400-70: #8C8B8B3;
	--color-nickel-400-75: #8C8B8C0;
	--color-nickel-400-80: #8C8B8CD;
	--color-nickel-400-85: #8C8B8DA;
	--color-nickel-400-90: #8C8B8E6;
	--color-nickel-400-95: #8C8B8F3;
	--color-nickel-500-5: #6C6A60D;
	--color-nickel-500-10: #6C6A61A;
	--color-nickel-500-15: #6C6A626;
	--color-nickel-500-20: #6C6A633;
	--color-nickel-500-25: #6C6A640;
	--color-nickel-500-30: #6C6A64D;
	--color-nickel-500-35: #6C6A65A;
	--color-nickel-500-40: #6C6A666;
	--color-nickel-500-45: #6C6A673;
	--color-nickel-500-50: #6C6A680;
	--color-nickel-500-55: #6C6A68D;
	--color-nickel-500-60: #6C6A69A;
	--color-nickel-500-65: #6C6A6A6;
	--color-nickel-500-70: #6C6A6B3;
	--color-nickel-500-75: #6C6A6C0;
	--color-nickel-500-80: #6C6A6CD;
	--color-nickel-500-85: #6C6A6DA;
	--color-nickel-500-90: #6C6A6E6;
	--color-nickel-500-95: #6C6A6F3;
	--color-nickel-600-5: #555440D;
	--color-nickel-600-10: #555441A;
	--color-nickel-600-15: #5554426;
	--color-nickel-600-20: #5554433;
	--color-nickel-600-25: #5554440;
	--color-nickel-600-30: #555444D;
	--color-nickel-600-35: #555445A;
	--color-nickel-600-40: #5554466;
	--color-nickel-600-45: #5554473;
	--color-nickel-600-50: #5554480;
	--color-nickel-600-55: #555448D;
	--color-nickel-600-60: #555449A;
	--color-nickel-600-65: #55544A6;
	--color-nickel-600-70: #55544B3;
	--color-nickel-600-75: #55544C0;
	--color-nickel-600-80: #55544CD;
	--color-nickel-600-85: #55544DA;
	--color-nickel-600-90: #55544E6;
	--color-nickel-600-95: #55544F3;
	--color-nickel-700-5: #464630D;
	--color-nickel-700-10: #464631A;
	--color-nickel-700-15: #4646326;
	--color-nickel-700-20: #4646333;
	--color-nickel-700-25: #4646340;
	--color-nickel-700-30: #464634D;
	--color-nickel-700-35: #464635A;
	--color-nickel-700-40: #4646366;
	--color-nickel-700-45: #4646373;
	--color-nickel-700-50: #4646380;
	--color-nickel-700-55: #464638D;
	--color-nickel-700-60: #464639A;
	--color-nickel-700-65: #46463A6;
	--color-nickel-700-70: #46463B3;
	--color-nickel-700-75: #46463C0;
	--color-nickel-700-80: #46463CD;
	--color-nickel-700-85: #46463DA;
	--color-nickel-700-90: #46463E6;
	--color-nickel-700-95: #46463F3;
	--color-nickel-800-5: #3A3A30D;
	--color-nickel-800-10: #3A3A31A;
	--color-nickel-800-15: #3A3A326;
	--color-nickel-800-20: #3A3A333;
	--color-nickel-800-25: #3A3A340;
	--color-nickel-800-30: #3A3A34D;
	--color-nickel-800-35: #3A3A35A;
	--color-nickel-800-40: #3A3A366;
	--color-nickel-800-45: #3A3A373;
	--color-nickel-800-50: #3A3A380;
	--color-nickel-800-55: #3A3A38D;
	--color-nickel-800-60: #3A3A39A;
	--color-nickel-800-65: #3A3A3A6;
	--color-nickel-800-70: #3A3A3B3;
	--color-nickel-800-75: #3A3A3C0;
	--color-nickel-800-80: #3A3A3CD;
	--color-nickel-800-85: #3A3A3DA;
	--color-nickel-800-90: #3A3A3E6;
	--color-nickel-800-95: #3A3A3F3;
	--color-nickel-900-5: #333220D;
	--color-nickel-900-10: #333221A;
	--color-nickel-900-15: #3332226;
	--color-nickel-900-20: #3332233;
	--color-nickel-900-25: #3332240;
	--color-nickel-900-30: #333224D;
	--color-nickel-900-35: #333225A;
	--color-nickel-900-40: #3332266;
	--color-nickel-900-45: #3332273;
	--color-nickel-900-50: #3332280;
	--color-nickel-900-55: #333228D;
	--color-nickel-900-60: #333229A;
	--color-nickel-900-65: #33322A6;
	--color-nickel-900-70: #33322B3;
	--color-nickel-900-75: #33322C0;
	--color-nickel-900-80: #33322CD;
	--color-nickel-900-85: #33322DA;
	--color-nickel-900-90: #33322E6;
	--color-nickel-900-95: #33322F3;
	--color-nickel-950-5: #1B1B10D;
	--color-nickel-950-10: #1B1B11A;
	--color-nickel-950-15: #1B1B126;
	--color-nickel-950-20: #1B1B133;
	--color-nickel-950-25: #1B1B140;
	--color-nickel-950-30: #1B1B14D;
	--color-nickel-950-35: #1B1B15A;
	--color-nickel-950-40: #1B1B166;
	--color-nickel-950-45: #1B1B173;
	--color-nickel-950-50: #1B1B180;
	--color-nickel-950-55: #1B1B18D;
	--color-nickel-950-60: #1B1B19A;
	--color-nickel-950-65: #1B1B1A6;
	--color-nickel-950-70: #1B1B1B3;
	--color-nickel-950-75: #1B1B1C0;
	--color-nickel-950-80: #1B1B1CD;
	--color-nickel-950-85: #1B1B1DA;
	--color-nickel-950-90: #1B1B1E6;
	--color-nickel-950-95: #1B1B1F3;
}