@theme {
	--color-steel-50-5: #F7F8F0D;
	--color-steel-50-10: #F7F8F1A;
	--color-steel-50-15: #F7F8F26;
	--color-steel-50-20: #F7F8F33;
	--color-steel-50-25: #F7F8F40;
	--color-steel-50-30: #F7F8F4D;
	--color-steel-50-35: #F7F8F5A;
	--color-steel-50-40: #F7F8F66;
	--color-steel-50-45: #F7F8F73;
	--color-steel-50-50: #F7F8F80;
	--color-steel-50-55: #F7F8F8D;
	--color-steel-50-60: #F7F8F9A;
	--color-steel-50-65: #F7F8FA6;
	--color-steel-50-70: #F7F8FB3;
	--color-steel-50-75: #F7F8FC0;
	--color-steel-50-80: #F7F8FCD;
	--color-steel-50-85: #F7F8FDA;
	--color-steel-50-90: #F7F8FE6;
	--color-steel-50-95: #F7F8FF3;
	--color-steel-100-5: #F1F2F0D;
	--color-steel-100-10: #F1F2F1A;
	--color-steel-100-15: #F1F2F26;
	--color-steel-100-20: #F1F2F33;
	--color-steel-100-25: #F1F2F40;
	--color-steel-100-30: #F1F2F4D;
	--color-steel-100-35: #F1F2F5A;
	--color-steel-100-40: #F1F2F66;
	--color-steel-100-45: #F1F2F73;
	--color-steel-100-50: #F1F2F80;
	--color-steel-100-55: #F1F2F8D;
	--color-steel-100-60: #F1F2F9A;
	--color-steel-100-65: #F1F2FA6;
	--color-steel-100-70: #F1F2FB3;
	--color-steel-100-75: #F1F2FC0;
	--color-steel-100-80: #F1F2FCD;
	--color-steel-100-85: #F1F2FDA;
	--color-steel-100-90: #F1F2FE6;
	--color-steel-100-95: #F1F2FF3;
	--color-steel-200-5: #E4E6E0D;
	--color-steel-200-10: #E4E6E1A;
	--color-steel-200-15: #E4E6E26;
	--color-steel-200-20: #E4E6E33;
	--color-steel-200-25: #E4E6E40;
	--color-steel-200-30: #E4E6E4D;
	--color-steel-200-35: #E4E6E5A;
	--color-steel-200-40: #E4E6E66;
	--color-steel-200-45: #E4E6E73;
	--color-steel-200-50: #E4E6E80;
	--color-steel-200-55: #E4E6E8D;
	--color-steel-200-60: #E4E6E9A;
	--color-steel-200-65: #E4E6EA6;
	--color-steel-200-70: #E4E6EB3;
	--color-steel-200-75: #E4E6EC0;
	--color-steel-200-80: #E4E6ECD;
	--color-steel-200-85: #E4E6EDA;
	--color-steel-200-90: #E4E6EE6;
	--color-steel-200-95: #E4E6EF3;
	--color-steel-300-5: #CED3D0D;
	--color-steel-300-10: #CED3D1A;
	--color-steel-300-15: #CED3D26;
	--color-steel-300-20: #CED3D33;
	--color-steel-300-25: #CED3D40;
	--color-steel-300-30: #CED3D4D;
	--color-steel-300-35: #CED3D5A;
	--color-steel-300-40: #CED3D66;
	--color-steel-300-45: #CED3D73;
	--color-steel-300-50: #CED3D80;
	--color-steel-300-55: #CED3D8D;
	--color-steel-300-60: #CED3D9A;
	--color-steel-300-65: #CED3DA6;
	--color-steel-300-70: #CED3DB3;
	--color-steel-300-75: #CED3DC0;
	--color-steel-300-80: #CED3DCD;
	--color-steel-300-85: #CED3DDA;
	--color-steel-300-90: #CED3DE6;
	--color-steel-300-95: #CED3DF3;
	--color-steel-400-5: #AFB7B0D;
	--color-steel-400-10: #AFB7B1A;
	--color-steel-400-15: #AFB7B26;
	--color-steel-400-20: #AFB7B33;
	--color-steel-400-25: #AFB7B40;
	--color-steel-400-30: #AFB7B4D;
	--color-steel-400-35: #AFB7B5A;
	--color-steel-400-40: #AFB7B66;
	--color-steel-400-45: #AFB7B73;
	--color-steel-400-50: #AFB7B80;
	--color-steel-400-55: #AFB7B8D;
	--color-steel-400-60: #AFB7B9A;
	--color-steel-400-65: #AFB7BA6;
	--color-steel-400-70: #AFB7BB3;
	--color-steel-400-75: #AFB7BC0;
	--color-steel-400-80: #AFB7BCD;
	--color-steel-400-85: #AFB7BDA;
	--color-steel-400-90: #AFB7BE6;
	--color-steel-400-95: #AFB7BF3;
	--color-steel-500-5: #959F90D;
	--color-steel-500-10: #959F91A;
	--color-steel-500-15: #959F926;
	--color-steel-500-20: #959F933;
	--color-steel-500-25: #959F940;
	--color-steel-500-30: #959F94D;
	--color-steel-500-35: #959F95A;
	--color-steel-500-40: #959F966;
	--color-steel-500-45: #959F973;
	--color-steel-500-50: #959F980;
	--color-steel-500-55: #959F98D;
	--color-steel-500-60: #959F99A;
	--color-steel-500-65: #959F9A6;
	--color-steel-500-70: #959F9B3;
	--color-steel-500-75: #959F9C0;
	--color-steel-500-80: #959F9CD;
	--color-steel-500-85: #959F9DA;
	--color-steel-500-90: #959F9E6;
	--color-steel-500-95: #959F9F3;
	--color-steel-600-5: #7A8480D;
	--color-steel-600-10: #7A8481A;
	--color-steel-600-15: #7A84826;
	--color-steel-600-20: #7A84833;
	--color-steel-600-25: #7A84840;
	--color-steel-600-30: #7A8484D;
	--color-steel-600-35: #7A8485A;
	--color-steel-600-40: #7A84866;
	--color-steel-600-45: #7A84873;
	--color-steel-600-50: #7A84880;
	--color-steel-600-55: #7A8488D;
	--color-steel-600-60: #7A8489A;
	--color-steel-600-65: #7A848A6;
	--color-steel-600-70: #7A848B3;
	--color-steel-600-75: #7A848C0;
	--color-steel-600-80: #7A848CD;
	--color-steel-600-85: #7A848DA;
	--color-steel-600-90: #7A848E6;
	--color-steel-600-95: #7A848F3;
	--color-steel-700-5: #667060D;
	--color-steel-700-10: #667061A;
	--color-steel-700-15: #6670626;
	--color-steel-700-20: #6670633;
	--color-steel-700-25: #6670640;
	--color-steel-700-30: #667064D;
	--color-steel-700-35: #667065A;
	--color-steel-700-40: #6670666;
	--color-steel-700-45: #6670673;
	--color-steel-700-50: #6670680;
	--color-steel-700-55: #667068D;
	--color-steel-700-60: #667069A;
	--color-steel-700-65: #66706A6;
	--color-steel-700-70: #66706B3;
	--color-steel-700-75: #66706C0;
	--color-steel-700-80: #66706CD;
	--color-steel-700-85: #66706DA;
	--color-steel-700-90: #66706E6;
	--color-steel-700-95: #66706F3;
	--color-steel-800-5: #565E50D;
	--color-steel-800-10: #565E51A;
	--color-steel-800-15: #565E526;
	--color-steel-800-20: #565E533;
	--color-steel-800-25: #565E540;
	--color-steel-800-30: #565E54D;
	--color-steel-800-35: #565E55A;
	--color-steel-800-40: #565E566;
	--color-steel-800-45: #565E573;
	--color-steel-800-50: #565E580;
	--color-steel-800-55: #565E58D;
	--color-steel-800-60: #565E59A;
	--color-steel-800-65: #565E5A6;
	--color-steel-800-70: #565E5B3;
	--color-steel-800-75: #565E5C0;
	--color-steel-800-80: #565E5CD;
	--color-steel-800-85: #565E5DA;
	--color-steel-800-90: #565E5E6;
	--color-steel-800-95: #565E5F3;
	--color-steel-900-5: #4B5050D;
	--color-steel-900-10: #4B5051A;
	--color-steel-900-15: #4B50526;
	--color-steel-900-20: #4B50533;
	--color-steel-900-25: #4B50540;
	--color-steel-900-30: #4B5054D;
	--color-steel-900-35: #4B5055A;
	--color-steel-900-40: #4B50566;
	--color-steel-900-45: #4B50573;
	--color-steel-900-50: #4B50580;
	--color-steel-900-55: #4B5058D;
	--color-steel-900-60: #4B5059A;
	--color-steel-900-65: #4B505A6;
	--color-steel-900-70: #4B505B3;
	--color-steel-900-75: #4B505C0;
	--color-steel-900-80: #4B505CD;
	--color-steel-900-85: #4B505DA;
	--color-steel-900-90: #4B505E6;
	--color-steel-900-95: #4B505F3;
	--color-steel-950-5: #292E20D;
	--color-steel-950-10: #292E21A;
	--color-steel-950-15: #292E226;
	--color-steel-950-20: #292E233;
	--color-steel-950-25: #292E240;
	--color-steel-950-30: #292E24D;
	--color-steel-950-35: #292E25A;
	--color-steel-950-40: #292E266;
	--color-steel-950-45: #292E273;
	--color-steel-950-50: #292E280;
	--color-steel-950-55: #292E28D;
	--color-steel-950-60: #292E29A;
	--color-steel-950-65: #292E2A6;
	--color-steel-950-70: #292E2B3;
	--color-steel-950-75: #292E2C0;
	--color-steel-950-80: #292E2CD;
	--color-steel-950-85: #292E2DA;
	--color-steel-950-90: #292E2E6;
	--color-steel-950-95: #292E2F3;
}