/*******************************************************************************
 * Labeled Switch
 *
 * Toggle switch with label.
 * Uses Build Canada design system colors.
 ******************************************************************************/

@use "sass:color";

$light-fill: $gray-30;
$active-fill: $cerulean-100;
$active-switch: $cerulean-500;
$medium: 400;
$lato: $sans-serif-font-stack;

// On/off switch with label written to the right
.labeled-switch {
    // Keep in sync with TableFilterToggle.tsx
    // where the width of a labeled switch is calculated

    display: flex;
    align-items: center;
    color: $gray-60;
    font: $medium 13px/16px $lato;
    letter-spacing: 0.01em;

    position: relative;
    margin: 8px 0;
    -webkit-user-select: none;
    user-select: none;

    label {
        color: $charcoal;
        padding-left: 40px;
        white-space: nowrap;
        cursor: pointer;

        svg {
            color: $gray-50;
            height: 13px;
            padding: 0 0.333em;
        }
    }

    .labeled-switch-subtitle {
        // Only show subtitle in settings menu, otherwise use icon + tooltip
        display: none;
    }

    input {
        position: absolute;
        opacity: 0;
        left: 0;
        cursor: pointer;
    }

    .outer {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: " ";
        width: 32px;
        height: 18px;
        background: $light-fill;
        border-radius: 9px;
        pointer-events: none;
        transition: background 200ms ease;

        .inner {
            position: relative;
            content: " ";
            width: 12px;
            height: 12px;
            background: $gray-60;
            border-radius: 50%;
            top: 3px;
            left: 3px;
            pointer-events: none;
            transition: transform 200ms ease, background 200ms ease;
        }
    }

    &:hover {
        .outer .inner {
            background: $charcoal;
        }
    }

    input:focus-visible + .outer {
        outline: 2px solid $auburn;
        outline-offset: 2px;
    }

    input:checked + .outer {
        background: $active-fill;

        .inner {
            background: $active-switch;
            transform: translate(14px, 0);
        }
    }

    &:hover input:checked + .outer .inner {
        background: $cerulean-600;
    }

    &.labeled-switch--is-disabled {
        opacity: 0.5;
        cursor: not-allowed;

        label {
            cursor: not-allowed;
        }

        &:hover {
            .inner {
                background: $gray-60;
            }
        }
    }
}
