/*******************************************************************************
 * Timeline Component
 *
 * Year slider and playback controls.
 * Uses Build Canada design system colors.
 ******************************************************************************/

$timelineHeight: 32px;

.timeline-component {
    // Diameter of the start and end handle
    $handle-diameter: 20px; // Keep in sync with HANDLE_DIAMETER in TimelineComponent.tsx

    // Start and end handles
    $default-knob: $gray-50;
    $active-knob: $auburn;

    // Timeline slider and interval
    $light-timeline: $gray-20;
    $active-timeline: $auburn-500;
    $hover-timeline: $auburn;

    // Start/end year label
    $light-fill: $white;
    $hover-fill: $gray-10;
    $active-fill: $cerulean-100;

    width: 100%;
    height: $timelineHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;

    > div {
        margin-right: 0.5em;
        &:last-child {
            margin-right: 0;
        }
    }

    .date {
        height: 100%;
        font-family: $sans-serif-font-stack;
        font-size: 13px;
        font-weight: 500;
        color: $charcoal;
        padding: 0 12px;
        border-radius: 0;
        display: grid;
        place-content: center;
        margin-right: 0;
        background-color: $light-fill;
        user-select: none;
        border: 1px solid $gray-20;
        transition: all 150ms ease;

        &:hover {
            background: $hover-fill;
            cursor: pointer;
        }

        &:active {
            background: $active-fill;
            border-color: $cerulean-500;
            color: $cerulean-900;
        }

        &:focus-visible {
            outline: 2px solid $auburn;
            outline-offset: 2px;
        }
    }

    .slider {
        height: 2px;
        flex-grow: 1;
        background: $light-timeline;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: $handle-diameter;
        margin-right: $handle-diameter;

        padding: 12px 0;
    }

    .handle {
        $handleSidePadding: 6px;

        position: absolute;
        z-index: 1;
        margin-left: (-$handle-diameter * 0.5) - $handleSidePadding;
        cursor: col-resize;
        padding: 10px $handleSidePadding;

        &.hoverMarker {
            cursor: pointer;

            > .icon {
                background: $default-knob;
            }
        }

        > .icon {
            height: $handle-diameter;
            width: $handle-diameter;
            border-radius: 0;

            background: $default-knob;
            border: 2px solid $white;
            z-index: 1;
            pointer-events: none;

            transform: scale(1);
            transition: transform 0.15s ease-out, background 0.15s ease;
        }
    }

    .interval {
        position: absolute;
        height: 2px;
        background: $active-timeline;
        padding: 10px 0;

        &:hover {
            height: 3px;
        }

        cursor: grab;
        &:active {
            cursor: grabbing;
        }

        &.interval-hover {
            background: $hover-timeline;
        }
    }

    .handle,
    .interval,
    .slider {
        box-sizing: content-box !important;
        background-clip: content-box !important;
    }

    &.hover {
        .handle > .icon {
            transform: scale(1.2);
        }

        .handle:not(.hoverMarker) > .icon {
            background: $active-knob;
        }
    }
}

/*******************************************************************************
 * Play/Pause Button
 ******************************************************************************/

.timeline-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $timelineHeight;
    height: $timelineHeight;
    background: $white;
    border: 1px solid $gray-20;
    border-radius: 0;
    cursor: pointer;
    color: $charcoal;
    transition: all 150ms ease;

    &:hover {
        background: $gray-20;
    }

    &:active {
        background: $cerulean-100;
        border-color: $cerulean-500;
        color: $cerulean-900;
    }

    &:focus-visible {
        outline: 2px solid $auburn;
        outline-offset: 2px;
    }

    svg {
        font-size: 12px;
    }
}
