@theme {
	--color-amethyst-50-5: #FAF5F0D;
	--color-amethyst-50-10: #FAF5F1A;
	--color-amethyst-50-15: #FAF5F26;
	--color-amethyst-50-20: #FAF5F33;
	--color-amethyst-50-25: #FAF5F40;
	--color-amethyst-50-30: #FAF5F4D;
	--color-amethyst-50-35: #FAF5F5A;
	--color-amethyst-50-40: #FAF5F66;
	--color-amethyst-50-45: #FAF5F73;
	--color-amethyst-50-50: #FAF5F80;
	--color-amethyst-50-55: #FAF5F8D;
	--color-amethyst-50-60: #FAF5F9A;
	--color-amethyst-50-65: #FAF5FA6;
	--color-amethyst-50-70: #FAF5FB3;
	--color-amethyst-50-75: #FAF5FC0;
	--color-amethyst-50-80: #FAF5FCD;
	--color-amethyst-50-85: #FAF5FDA;
	--color-amethyst-50-90: #FAF5FE6;
	--color-amethyst-50-95: #FAF5FF3;
	--color-amethyst-100-5: #F3E8F0D;
	--color-amethyst-100-10: #F3E8F1A;
	--color-amethyst-100-15: #F3E8F26;
	--color-amethyst-100-20: #F3E8F33;
	--color-amethyst-100-25: #F3E8F40;
	--color-amethyst-100-30: #F3E8F4D;
	--color-amethyst-100-35: #F3E8F5A;
	--color-amethyst-100-40: #F3E8F66;
	--color-amethyst-100-45: #F3E8F73;
	--color-amethyst-100-50: #F3E8F80;
	--color-amethyst-100-55: #F3E8F8D;
	--color-amethyst-100-60: #F3E8F9A;
	--color-amethyst-100-65: #F3E8FA6;
	--color-amethyst-100-70: #F3E8FB3;
	--color-amethyst-100-75: #F3E8FC0;
	--color-amethyst-100-80: #F3E8FCD;
	--color-amethyst-100-85: #F3E8FDA;
	--color-amethyst-100-90: #F3E8FE6;
	--color-amethyst-100-95: #F3E8FF3;
	--color-amethyst-200-5: #E8D5F0D;
	--color-amethyst-200-10: #E8D5F1A;
	--color-amethyst-200-15: #E8D5F26;
	--color-amethyst-200-20: #E8D5F33;
	--color-amethyst-200-25: #E8D5F40;
	--color-amethyst-200-30: #E8D5F4D;
	--color-amethyst-200-35: #E8D5F5A;
	--color-amethyst-200-40: #E8D5F66;
	--color-amethyst-200-45: #E8D5F73;
	--color-amethyst-200-50: #E8D5F80;
	--color-amethyst-200-55: #E8D5F8D;
	--color-amethyst-200-60: #E8D5F9A;
	--color-amethyst-200-65: #E8D5FA6;
	--color-amethyst-200-70: #E8D5FB3;
	--color-amethyst-200-75: #E8D5FC0;
	--color-amethyst-200-80: #E8D5FCD;
	--color-amethyst-200-85: #E8D5FDA;
	--color-amethyst-200-90: #E8D5FE6;
	--color-amethyst-200-95: #E8D5FF3;
	--color-amethyst-300-5: #D7B5F0D;
	--color-amethyst-300-10: #D7B5F1A;
	--color-amethyst-300-15: #D7B5F26;
	--color-amethyst-300-20: #D7B5F33;
	--color-amethyst-300-25: #D7B5F40;
	--color-amethyst-300-30: #D7B5F4D;
	--color-amethyst-300-35: #D7B5F5A;
	--color-amethyst-300-40: #D7B5F66;
	--color-amethyst-300-45: #D7B5F73;
	--color-amethyst-300-50: #D7B5F80;
	--color-amethyst-300-55: #D7B5F8D;
	--color-amethyst-300-60: #D7B5F9A;
	--color-amethyst-300-65: #D7B5FA6;
	--color-amethyst-300-70: #D7B5FB3;
	--color-amethyst-300-75: #D7B5FC0;
	--color-amethyst-300-80: #D7B5FCD;
	--color-amethyst-300-85: #D7B5FDA;
	--color-amethyst-300-90: #D7B5FE6;
	--color-amethyst-300-95: #D7B5FF3;
	--color-amethyst-400-5: #BE85F0D;
	--color-amethyst-400-10: #BE85F1A;
	--color-amethyst-400-15: #BE85F26;
	--color-amethyst-400-20: #BE85F33;
	--color-amethyst-400-25: #BE85F40;
	--color-amethyst-400-30: #BE85F4D;
	--color-amethyst-400-35: #BE85F5A;
	--color-amethyst-400-40: #BE85F66;
	--color-amethyst-400-45: #BE85F73;
	--color-amethyst-400-50: #BE85F80;
	--color-amethyst-400-55: #BE85F8D;
	--color-amethyst-400-60: #BE85F9A;
	--color-amethyst-400-65: #BE85FA6;
	--color-amethyst-400-70: #BE85FB3;
	--color-amethyst-400-75: #BE85FC0;
	--color-amethyst-400-80: #BE85FCD;
	--color-amethyst-400-85: #BE85FDA;
	--color-amethyst-400-90: #BE85FE6;
	--color-amethyst-400-95: #BE85FF3;
	--color-amethyst-500-5: #A85CF0D;
	--color-amethyst-500-10: #A85CF1A;
	--color-amethyst-500-15: #A85CF26;
	--color-amethyst-500-20: #A85CF33;
	--color-amethyst-500-25: #A85CF40;
	--color-amethyst-500-30: #A85CF4D;
	--color-amethyst-500-35: #A85CF5A;
	--color-amethyst-500-40: #A85CF66;
	--color-amethyst-500-45: #A85CF73;
	--color-amethyst-500-50: #A85CF80;
	--color-amethyst-500-55: #A85CF8D;
	--color-amethyst-500-60: #A85CF9A;
	--color-amethyst-500-65: #A85CFA6;
	--color-amethyst-500-70: #A85CFB3;
	--color-amethyst-500-75: #A85CFC0;
	--color-amethyst-500-80: #A85CFCD;
	--color-amethyst-500-85: #A85CFDA;
	--color-amethyst-500-90: #A85CFE6;
	--color-amethyst-500-95: #A85CFF3;
	--color-amethyst-600-5: #9034E0D;
	--color-amethyst-600-10: #9034E1A;
	--color-amethyst-600-15: #9034E26;
	--color-amethyst-600-20: #9034E33;
	--color-amethyst-600-25: #9034E40;
	--color-amethyst-600-30: #9034E4D;
	--color-amethyst-600-35: #9034E5A;
	--color-amethyst-600-40: #9034E66;
	--color-amethyst-600-45: #9034E73;
	--color-amethyst-600-50: #9034E80;
	--color-amethyst-600-55: #9034E8D;
	--color-amethyst-600-60: #9034E9A;
	--color-amethyst-600-65: #9034EA6;
	--color-amethyst-600-70: #9034EB3;
	--color-amethyst-600-75: #9034EC0;
	--color-amethyst-600-80: #9034ECD;
	--color-amethyst-600-85: #9034EDA;
	--color-amethyst-600-90: #9034EE6;
	--color-amethyst-600-95: #9034EF3;
	--color-amethyst-700-5: #7B23C0D;
	--color-amethyst-700-10: #7B23C1A;
	--color-amethyst-700-15: #7B23C26;
	--color-amethyst-700-20: #7B23C33;
	--color-amethyst-700-25: #7B23C40;
	--color-amethyst-700-30: #7B23C4D;
	--color-amethyst-700-35: #7B23C5A;
	--color-amethyst-700-40: #7B23C66;
	--color-amethyst-700-45: #7B23C73;
	--color-amethyst-700-50: #7B23C80;
	--color-amethyst-700-55: #7B23C8D;
	--color-amethyst-700-60: #7B23C9A;
	--color-amethyst-700-65: #7B23CA6;
	--color-amethyst-700-70: #7B23CB3;
	--color-amethyst-700-75: #7B23CC0;
	--color-amethyst-700-80: #7B23CCD;
	--color-amethyst-700-85: #7B23CDA;
	--color-amethyst-700-90: #7B23CE6;
	--color-amethyst-700-95: #7B23CF3;
	--color-amethyst-800-5: #6822A0D;
	--color-amethyst-800-10: #6822A1A;
	--color-amethyst-800-15: #6822A26;
	--color-amethyst-800-20: #6822A33;
	--color-amethyst-800-25: #6822A40;
	--color-amethyst-800-30: #6822A4D;
	--color-amethyst-800-35: #6822A5A;
	--color-amethyst-800-40: #6822A66;
	--color-amethyst-800-45: #6822A73;
	--color-amethyst-800-50: #6822A80;
	--color-amethyst-800-55: #6822A8D;
	--color-amethyst-800-60: #6822A9A;
	--color-amethyst-800-65: #6822AA6;
	--color-amethyst-800-70: #6822AB3;
	--color-amethyst-800-75: #6822AC0;
	--color-amethyst-800-80: #6822ACD;
	--color-amethyst-800-85: #6822ADA;
	--color-amethyst-800-90: #6822AE6;
	--color-amethyst-800-95: #6822AF3;
	--color-amethyst-900-5: #561D80D;
	--color-amethyst-900-10: #561D81A;
	--color-amethyst-900-15: #561D826;
	--color-amethyst-900-20: #561D833;
	--color-amethyst-900-25: #561D840;
	--color-amethyst-900-30: #561D84D;
	--color-amethyst-900-35: #561D85A;
	--color-amethyst-900-40: #561D866;
	--color-amethyst-900-45: #561D873;
	--color-amethyst-900-50: #561D880;
	--color-amethyst-900-55: #561D88D;
	--color-amethyst-900-60: #561D89A;
	--color-amethyst-900-65: #561D8A6;
	--color-amethyst-900-70: #561D8B3;
	--color-amethyst-900-75: #561D8C0;
	--color-amethyst-900-80: #561D8CD;
	--color-amethyst-900-85: #561D8DA;
	--color-amethyst-900-90: #561D8E6;
	--color-amethyst-900-95: #561D8F3;
	--color-amethyst-950-5: #390860D;
	--color-amethyst-950-10: #390861A;
	--color-amethyst-950-15: #3908626;
	--color-amethyst-950-20: #3908633;
	--color-amethyst-950-25: #3908640;
	--color-amethyst-950-30: #390864D;
	--color-amethyst-950-35: #390865A;
	--color-amethyst-950-40: #3908666;
	--color-amethyst-950-45: #3908673;
	--color-amethyst-950-50: #3908680;
	--color-amethyst-950-55: #390868D;
	--color-amethyst-950-60: #390869A;
	--color-amethyst-950-65: #39086A6;
	--color-amethyst-950-70: #39086B3;
	--color-amethyst-950-75: #39086C0;
	--color-amethyst-950-80: #39086CD;
	--color-amethyst-950-85: #39086DA;
	--color-amethyst-950-90: #39086E6;
	--color-amethyst-950-95: #39086F3;
}