@theme {
	--color-auburn-50-5: #FCF4F0D;
	--color-auburn-50-10: #FCF4F1A;
	--color-auburn-50-15: #FCF4F26;
	--color-auburn-50-20: #FCF4F33;
	--color-auburn-50-25: #FCF4F40;
	--color-auburn-50-30: #FCF4F4D;
	--color-auburn-50-35: #FCF4F5A;
	--color-auburn-50-40: #FCF4F66;
	--color-auburn-50-45: #FCF4F73;
	--color-auburn-50-50: #FCF4F80;
	--color-auburn-50-55: #FCF4F8D;
	--color-auburn-50-60: #FCF4F9A;
	--color-auburn-50-65: #FCF4FA6;
	--color-auburn-50-70: #FCF4FB3;
	--color-auburn-50-75: #FCF4FC0;
	--color-auburn-50-80: #FCF4FCD;
	--color-auburn-50-85: #FCF4FDA;
	--color-auburn-50-90: #FCF4FE6;
	--color-auburn-50-95: #FCF4FF3;
	--color-auburn-100-5: #FAE6E0D;
	--color-auburn-100-10: #FAE6E1A;
	--color-auburn-100-15: #FAE6E26;
	--color-auburn-100-20: #FAE6E33;
	--color-auburn-100-25: #FAE6E40;
	--color-auburn-100-30: #FAE6E4D;
	--color-auburn-100-35: #FAE6E5A;
	--color-auburn-100-40: #FAE6E66;
	--color-auburn-100-45: #FAE6E73;
	--color-auburn-100-50: #FAE6E80;
	--color-auburn-100-55: #FAE6E8D;
	--color-auburn-100-60: #FAE6E9A;
	--color-auburn-100-65: #FAE6EA6;
	--color-auburn-100-70: #FAE6EB3;
	--color-auburn-100-75: #FAE6EC0;
	--color-auburn-100-80: #FAE6ECD;
	--color-auburn-100-85: #FAE6EDA;
	--color-auburn-100-90: #FAE6EE6;
	--color-auburn-100-95: #FAE6EF3;
	--color-auburn-200-5: #F7D1D0D;
	--color-auburn-200-10: #F7D1D1A;
	--color-auburn-200-15: #F7D1D26;
	--color-auburn-200-20: #F7D1D33;
	--color-auburn-200-25: #F7D1D40;
	--color-auburn-200-30: #F7D1D4D;
	--color-auburn-200-35: #F7D1D5A;
	--color-auburn-200-40: #F7D1D66;
	--color-auburn-200-45: #F7D1D73;
	--color-auburn-200-50: #F7D1D80;
	--color-auburn-200-55: #F7D1D8D;
	--color-auburn-200-60: #F7D1D9A;
	--color-auburn-200-65: #F7D1DA6;
	--color-auburn-200-70: #F7D1DB3;
	--color-auburn-200-75: #F7D1DC0;
	--color-auburn-200-80: #F7D1DCD;
	--color-auburn-200-85: #F7D1DDA;
	--color-auburn-200-90: #F7D1DE6;
	--color-auburn-200-95: #F7D1DF3;
	--color-auburn-300-5: #F1B0B0D;
	--color-auburn-300-10: #F1B0B1A;
	--color-auburn-300-15: #F1B0B26;
	--color-auburn-300-20: #F1B0B33;
	--color-auburn-300-25: #F1B0B40;
	--color-auburn-300-30: #F1B0B4D;
	--color-auburn-300-35: #F1B0B5A;
	--color-auburn-300-40: #F1B0B66;
	--color-auburn-300-45: #F1B0B73;
	--color-auburn-300-50: #F1B0B80;
	--color-auburn-300-55: #F1B0B8D;
	--color-auburn-300-60: #F1B0B9A;
	--color-auburn-300-65: #F1B0BA6;
	--color-auburn-300-70: #F1B0BB3;
	--color-auburn-300-75: #F1B0BC0;
	--color-auburn-300-80: #F1B0BCD;
	--color-auburn-300-85: #F1B0BDA;
	--color-auburn-300-90: #F1B0BE6;
	--color-auburn-300-95: #F1B0BF3;
	--color-auburn-400-5: #E68380D;
	--color-auburn-400-10: #E68381A;
	--color-auburn-400-15: #E683826;
	--color-auburn-400-20: #E683833;
	--color-auburn-400-25: #E683840;
	--color-auburn-400-30: #E68384D;
	--color-auburn-400-35: #E68385A;
	--color-auburn-400-40: #E683866;
	--color-auburn-400-45: #E683873;
	--color-auburn-400-50: #E683880;
	--color-auburn-400-55: #E68388D;
	--color-auburn-400-60: #E68389A;
	--color-auburn-400-65: #E6838A6;
	--color-auburn-400-70: #E6838B3;
	--color-auburn-400-75: #E6838C0;
	--color-auburn-400-80: #E6838CD;
	--color-auburn-400-85: #E6838DA;
	--color-auburn-400-90: #E6838E6;
	--color-auburn-400-95: #E6838F3;
	--color-auburn-500-5: #D85B50D;
	--color-auburn-500-10: #D85B51A;
	--color-auburn-500-15: #D85B526;
	--color-auburn-500-20: #D85B533;
	--color-auburn-500-25: #D85B540;
	--color-auburn-500-30: #D85B54D;
	--color-auburn-500-35: #D85B55A;
	--color-auburn-500-40: #D85B566;
	--color-auburn-500-45: #D85B573;
	--color-auburn-500-50: #D85B580;
	--color-auburn-500-55: #D85B58D;
	--color-auburn-500-60: #D85B59A;
	--color-auburn-500-65: #D85B5A6;
	--color-auburn-500-70: #D85B5B3;
	--color-auburn-500-75: #D85B5C0;
	--color-auburn-500-80: #D85B5CD;
	--color-auburn-500-85: #D85B5DA;
	--color-auburn-500-90: #D85B5E6;
	--color-auburn-500-95: #D85B5F3;
	--color-auburn-600-5: #C43E30D;
	--color-auburn-600-10: #C43E31A;
	--color-auburn-600-15: #C43E326;
	--color-auburn-600-20: #C43E333;
	--color-auburn-600-25: #C43E340;
	--color-auburn-600-30: #C43E34D;
	--color-auburn-600-35: #C43E35A;
	--color-auburn-600-40: #C43E366;
	--color-auburn-600-45: #C43E373;
	--color-auburn-600-50: #C43E380;
	--color-auburn-600-55: #C43E38D;
	--color-auburn-600-60: #C43E39A;
	--color-auburn-600-65: #C43E3A6;
	--color-auburn-600-70: #C43E3B3;
	--color-auburn-600-75: #C43E3C0;
	--color-auburn-600-80: #C43E3CD;
	--color-auburn-600-85: #C43E3DA;
	--color-auburn-600-90: #C43E3E6;
	--color-auburn-600-95: #C43E3F3;
	--color-auburn-700-5: #A43130D;
	--color-auburn-700-10: #A43131A;
	--color-auburn-700-15: #A431326;
	--color-auburn-700-20: #A431333;
	--color-auburn-700-25: #A431340;
	--color-auburn-700-30: #A43134D;
	--color-auburn-700-35: #A43135A;
	--color-auburn-700-40: #A431366;
	--color-auburn-700-45: #A431373;
	--color-auburn-700-50: #A431380;
	--color-auburn-700-55: #A43138D;
	--color-auburn-700-60: #A43139A;
	--color-auburn-700-65: #A4313A6;
	--color-auburn-700-70: #A4313B3;
	--color-auburn-700-75: #A4313C0;
	--color-auburn-700-80: #A4313CD;
	--color-auburn-700-85: #A4313DA;
	--color-auburn-700-90: #A4313E6;
	--color-auburn-700-95: #A4313F3;
	--color-auburn-800-5: #932F20D;
	--color-auburn-800-10: #932F21A;
	--color-auburn-800-15: #932F226;
	--color-auburn-800-20: #932F233;
	--color-auburn-800-25: #932F240;
	--color-auburn-800-30: #932F24D;
	--color-auburn-800-35: #932F25A;
	--color-auburn-800-40: #932F266;
	--color-auburn-800-45: #932F273;
	--color-auburn-800-50: #932F280;
	--color-auburn-800-55: #932F28D;
	--color-auburn-800-60: #932F29A;
	--color-auburn-800-65: #932F2A6;
	--color-auburn-800-70: #932F2B3;
	--color-auburn-800-75: #932F2C0;
	--color-auburn-800-80: #932F2CD;
	--color-auburn-800-85: #932F2DA;
	--color-auburn-800-90: #932F2E6;
	--color-auburn-800-95: #932F2F3;
	--color-auburn-900-5: #722A20D;
	--color-auburn-900-10: #722A21A;
	--color-auburn-900-15: #722A226;
	--color-auburn-900-20: #722A233;
	--color-auburn-900-25: #722A240;
	--color-auburn-900-30: #722A24D;
	--color-auburn-900-35: #722A25A;
	--color-auburn-900-40: #722A266;
	--color-auburn-900-45: #722A273;
	--color-auburn-900-50: #722A280;
	--color-auburn-900-55: #722A28D;
	--color-auburn-900-60: #722A29A;
	--color-auburn-900-65: #722A2A6;
	--color-auburn-900-70: #722A2B3;
	--color-auburn-900-75: #722A2C0;
	--color-auburn-900-80: #722A2CD;
	--color-auburn-900-85: #722A2DA;
	--color-auburn-900-90: #722A2E6;
	--color-auburn-900-95: #722A2F3;
	--color-auburn-950-5: #3D1210D;
	--color-auburn-950-10: #3D1211A;
	--color-auburn-950-15: #3D12126;
	--color-auburn-950-20: #3D12133;
	--color-auburn-950-25: #3D12140;
	--color-auburn-950-30: #3D1214D;
	--color-auburn-950-35: #3D1215A;
	--color-auburn-950-40: #3D12166;
	--color-auburn-950-45: #3D12173;
	--color-auburn-950-50: #3D12180;
	--color-auburn-950-55: #3D1218D;
	--color-auburn-950-60: #3D1219A;
	--color-auburn-950-65: #3D121A6;
	--color-auburn-950-70: #3D121B3;
	--color-auburn-950-75: #3D121C0;
	--color-auburn-950-80: #3D121CD;
	--color-auburn-950-85: #3D121DA;
	--color-auburn-950-90: #3D121E6;
	--color-auburn-950-95: #3D121F3;
}