@theme {
	--color-aurora-50-5: #FCF7F0D;
	--color-aurora-50-10: #FCF7F1A;
	--color-aurora-50-15: #FCF7F26;
	--color-aurora-50-20: #FCF7F33;
	--color-aurora-50-25: #FCF7F40;
	--color-aurora-50-30: #FCF7F4D;
	--color-aurora-50-35: #FCF7F5A;
	--color-aurora-50-40: #FCF7F66;
	--color-aurora-50-45: #FCF7F73;
	--color-aurora-50-50: #FCF7F80;
	--color-aurora-50-55: #FCF7F8D;
	--color-aurora-50-60: #FCF7F9A;
	--color-aurora-50-65: #FCF7FA6;
	--color-aurora-50-70: #FCF7FB3;
	--color-aurora-50-75: #FCF7FC0;
	--color-aurora-50-80: #FCF7FCD;
	--color-aurora-50-85: #FCF7FDA;
	--color-aurora-50-90: #FCF7FE6;
	--color-aurora-50-95: #FCF7FF3;
	--color-aurora-100-5: #F7EFF0D;
	--color-aurora-100-10: #F7EFF1A;
	--color-aurora-100-15: #F7EFF26;
	--color-aurora-100-20: #F7EFF33;
	--color-aurora-100-25: #F7EFF40;
	--color-aurora-100-30: #F7EFF4D;
	--color-aurora-100-35: #F7EFF5A;
	--color-aurora-100-40: #F7EFF66;
	--color-aurora-100-45: #F7EFF73;
	--color-aurora-100-50: #F7EFF80;
	--color-aurora-100-55: #F7EFF8D;
	--color-aurora-100-60: #F7EFF9A;
	--color-aurora-100-65: #F7EFFA6;
	--color-aurora-100-70: #F7EFFB3;
	--color-aurora-100-75: #F7EFFC0;
	--color-aurora-100-80: #F7EFFCD;
	--color-aurora-100-85: #F7EFFDA;
	--color-aurora-100-90: #F7EFFE6;
	--color-aurora-100-95: #F7EFFF3;
	--color-aurora-200-5: #EEDEF0D;
	--color-aurora-200-10: #EEDEF1A;
	--color-aurora-200-15: #EEDEF26;
	--color-aurora-200-20: #EEDEF33;
	--color-aurora-200-25: #EEDEF40;
	--color-aurora-200-30: #EEDEF4D;
	--color-aurora-200-35: #EEDEF5A;
	--color-aurora-200-40: #EEDEF66;
	--color-aurora-200-45: #EEDEF73;
	--color-aurora-200-50: #EEDEF80;
	--color-aurora-200-55: #EEDEF8D;
	--color-aurora-200-60: #EEDEF9A;
	--color-aurora-200-65: #EEDEFA6;
	--color-aurora-200-70: #EEDEFB3;
	--color-aurora-200-75: #EEDEFC0;
	--color-aurora-200-80: #EEDEFCD;
	--color-aurora-200-85: #EEDEFDA;
	--color-aurora-200-90: #EEDEFE6;
	--color-aurora-200-95: #EEDEFF3;
	--color-aurora-300-5: #DEBCD0D;
	--color-aurora-300-10: #DEBCD1A;
	--color-aurora-300-15: #DEBCD26;
	--color-aurora-300-20: #DEBCD33;
	--color-aurora-300-25: #DEBCD40;
	--color-aurora-300-30: #DEBCD4D;
	--color-aurora-300-35: #DEBCD5A;
	--color-aurora-300-40: #DEBCD66;
	--color-aurora-300-45: #DEBCD73;
	--color-aurora-300-50: #DEBCD80;
	--color-aurora-300-55: #DEBCD8D;
	--color-aurora-300-60: #DEBCD9A;
	--color-aurora-300-65: #DEBCDA6;
	--color-aurora-300-70: #DEBCDB3;
	--color-aurora-300-75: #DEBCDC0;
	--color-aurora-300-80: #DEBCDCD;
	--color-aurora-300-85: #DEBCDDA;
	--color-aurora-300-90: #DEBCDE6;
	--color-aurora-300-95: #DEBCDF3;
	--color-aurora-400-5: #D1A1D0D;
	--color-aurora-400-10: #D1A1D1A;
	--color-aurora-400-15: #D1A1D26;
	--color-aurora-400-20: #D1A1D33;
	--color-aurora-400-25: #D1A1D40;
	--color-aurora-400-30: #D1A1D4D;
	--color-aurora-400-35: #D1A1D5A;
	--color-aurora-400-40: #D1A1D66;
	--color-aurora-400-45: #D1A1D73;
	--color-aurora-400-50: #D1A1D80;
	--color-aurora-400-55: #D1A1D8D;
	--color-aurora-400-60: #D1A1D9A;
	--color-aurora-400-65: #D1A1DA6;
	--color-aurora-400-70: #D1A1DB3;
	--color-aurora-400-75: #D1A1DC0;
	--color-aurora-400-80: #D1A1DCD;
	--color-aurora-400-85: #D1A1DDA;
	--color-aurora-400-90: #D1A1DE6;
	--color-aurora-400-95: #D1A1DF3;
	--color-aurora-500-5: #BA7AB0D;
	--color-aurora-500-10: #BA7AB1A;
	--color-aurora-500-15: #BA7AB26;
	--color-aurora-500-20: #BA7AB33;
	--color-aurora-500-25: #BA7AB40;
	--color-aurora-500-30: #BA7AB4D;
	--color-aurora-500-35: #BA7AB5A;
	--color-aurora-500-40: #BA7AB66;
	--color-aurora-500-45: #BA7AB73;
	--color-aurora-500-50: #BA7AB80;
	--color-aurora-500-55: #BA7AB8D;
	--color-aurora-500-60: #BA7AB9A;
	--color-aurora-500-65: #BA7ABA6;
	--color-aurora-500-70: #BA7ABB3;
	--color-aurora-500-75: #BA7ABC0;
	--color-aurora-500-80: #BA7ABCD;
	--color-aurora-500-85: #BA7ABDA;
	--color-aurora-500-90: #BA7ABE6;
	--color-aurora-500-95: #BA7ABF3;
	--color-aurora-600-5: #9D5C90D;
	--color-aurora-600-10: #9D5C91A;
	--color-aurora-600-15: #9D5C926;
	--color-aurora-600-20: #9D5C933;
	--color-aurora-600-25: #9D5C940;
	--color-aurora-600-30: #9D5C94D;
	--color-aurora-600-35: #9D5C95A;
	--color-aurora-600-40: #9D5C966;
	--color-aurora-600-45: #9D5C973;
	--color-aurora-600-50: #9D5C980;
	--color-aurora-600-55: #9D5C98D;
	--color-aurora-600-60: #9D5C99A;
	--color-aurora-600-65: #9D5C9A6;
	--color-aurora-600-70: #9D5C9B3;
	--color-aurora-600-75: #9D5C9C0;
	--color-aurora-600-80: #9D5C9CD;
	--color-aurora-600-85: #9D5C9DA;
	--color-aurora-600-90: #9D5C9E6;
	--color-aurora-600-95: #9D5C9F3;
	--color-aurora-700-5: #814A70D;
	--color-aurora-700-10: #814A71A;
	--color-aurora-700-15: #814A726;
	--color-aurora-700-20: #814A733;
	--color-aurora-700-25: #814A740;
	--color-aurora-700-30: #814A74D;
	--color-aurora-700-35: #814A75A;
	--color-aurora-700-40: #814A766;
	--color-aurora-700-45: #814A773;
	--color-aurora-700-50: #814A780;
	--color-aurora-700-55: #814A78D;
	--color-aurora-700-60: #814A79A;
	--color-aurora-700-65: #814A7A6;
	--color-aurora-700-70: #814A7B3;
	--color-aurora-700-75: #814A7C0;
	--color-aurora-700-80: #814A7CD;
	--color-aurora-700-85: #814A7DA;
	--color-aurora-700-90: #814A7E6;
	--color-aurora-700-95: #814A7F3;
	--color-aurora-800-5: #6A3E60D;
	--color-aurora-800-10: #6A3E61A;
	--color-aurora-800-15: #6A3E626;
	--color-aurora-800-20: #6A3E633;
	--color-aurora-800-25: #6A3E640;
	--color-aurora-800-30: #6A3E64D;
	--color-aurora-800-35: #6A3E65A;
	--color-aurora-800-40: #6A3E666;
	--color-aurora-800-45: #6A3E673;
	--color-aurora-800-50: #6A3E680;
	--color-aurora-800-55: #6A3E68D;
	--color-aurora-800-60: #6A3E69A;
	--color-aurora-800-65: #6A3E6A6;
	--color-aurora-800-70: #6A3E6B3;
	--color-aurora-800-75: #6A3E6C0;
	--color-aurora-800-80: #6A3E6CD;
	--color-aurora-800-85: #6A3E6DA;
	--color-aurora-800-90: #6A3E6E6;
	--color-aurora-800-95: #6A3E6F3;
	--color-aurora-900-5: #593650D;
	--color-aurora-900-10: #593651A;
	--color-aurora-900-15: #5936526;
	--color-aurora-900-20: #5936533;
	--color-aurora-900-25: #5936540;
	--color-aurora-900-30: #593654D;
	--color-aurora-900-35: #593655A;
	--color-aurora-900-40: #5936566;
	--color-aurora-900-45: #5936573;
	--color-aurora-900-50: #5936580;
	--color-aurora-900-55: #593658D;
	--color-aurora-900-60: #593659A;
	--color-aurora-900-65: #59365A6;
	--color-aurora-900-70: #59365B3;
	--color-aurora-900-75: #59365C0;
	--color-aurora-900-80: #59365CD;
	--color-aurora-900-85: #59365DA;
	--color-aurora-900-90: #59365E6;
	--color-aurora-900-95: #59365F3;
	--color-aurora-950-5: #371B30D;
	--color-aurora-950-10: #371B31A;
	--color-aurora-950-15: #371B326;
	--color-aurora-950-20: #371B333;
	--color-aurora-950-25: #371B340;
	--color-aurora-950-30: #371B34D;
	--color-aurora-950-35: #371B35A;
	--color-aurora-950-40: #371B366;
	--color-aurora-950-45: #371B373;
	--color-aurora-950-50: #371B380;
	--color-aurora-950-55: #371B38D;
	--color-aurora-950-60: #371B39A;
	--color-aurora-950-65: #371B3A6;
	--color-aurora-950-70: #371B3B3;
	--color-aurora-950-75: #371B3C0;
	--color-aurora-950-80: #371B3CD;
	--color-aurora-950-85: #371B3DA;
	--color-aurora-950-90: #371B3E6;
	--color-aurora-950-95: #371B3F3;
}