@theme {
	--color-cerulean-50-5: #EFFAF0D;
	--color-cerulean-50-10: #EFFAF1A;
	--color-cerulean-50-15: #EFFAF26;
	--color-cerulean-50-20: #EFFAF33;
	--color-cerulean-50-25: #EFFAF40;
	--color-cerulean-50-30: #EFFAF4D;
	--color-cerulean-50-35: #EFFAF5A;
	--color-cerulean-50-40: #EFFAF66;
	--color-cerulean-50-45: #EFFAF73;
	--color-cerulean-50-50: #EFFAF80;
	--color-cerulean-50-55: #EFFAF8D;
	--color-cerulean-50-60: #EFFAF9A;
	--color-cerulean-50-65: #EFFAFA6;
	--color-cerulean-50-70: #EFFAFB3;
	--color-cerulean-50-75: #EFFAFC0;
	--color-cerulean-50-80: #EFFAFCD;
	--color-cerulean-50-85: #EFFAFDA;
	--color-cerulean-50-90: #EFFAFE6;
	--color-cerulean-50-95: #EFFAFF3;
	--color-cerulean-100-5: #D5F1F0D;
	--color-cerulean-100-10: #D5F1F1A;
	--color-cerulean-100-15: #D5F1F26;
	--color-cerulean-100-20: #D5F1F33;
	--color-cerulean-100-25: #D5F1F40;
	--color-cerulean-100-30: #D5F1F4D;
	--color-cerulean-100-35: #D5F1F5A;
	--color-cerulean-100-40: #D5F1F66;
	--color-cerulean-100-45: #D5F1F73;
	--color-cerulean-100-50: #D5F1F80;
	--color-cerulean-100-55: #D5F1F8D;
	--color-cerulean-100-60: #D5F1F9A;
	--color-cerulean-100-65: #D5F1FA6;
	--color-cerulean-100-70: #D5F1FB3;
	--color-cerulean-100-75: #D5F1FC0;
	--color-cerulean-100-80: #D5F1FCD;
	--color-cerulean-100-85: #D5F1FDA;
	--color-cerulean-100-90: #D5F1FE6;
	--color-cerulean-100-95: #D5F1FF3;
	--color-cerulean-200-5: #B1E3F0D;
	--color-cerulean-200-10: #B1E3F1A;
	--color-cerulean-200-15: #B1E3F26;
	--color-cerulean-200-20: #B1E3F33;
	--color-cerulean-200-25: #B1E3F40;
	--color-cerulean-200-30: #B1E3F4D;
	--color-cerulean-200-35: #B1E3F5A;
	--color-cerulean-200-40: #B1E3F66;
	--color-cerulean-200-45: #B1E3F73;
	--color-cerulean-200-50: #B1E3F80;
	--color-cerulean-200-55: #B1E3F8D;
	--color-cerulean-200-60: #B1E3F9A;
	--color-cerulean-200-65: #B1E3FA6;
	--color-cerulean-200-70: #B1E3FB3;
	--color-cerulean-200-75: #B1E3FC0;
	--color-cerulean-200-80: #B1E3FCD;
	--color-cerulean-200-85: #B1E3FDA;
	--color-cerulean-200-90: #B1E3FE6;
	--color-cerulean-200-95: #B1E3FF3;
	--color-cerulean-300-5: #7BCDE0D;
	--color-cerulean-300-10: #7BCDE1A;
	--color-cerulean-300-15: #7BCDE26;
	--color-cerulean-300-20: #7BCDE33;
	--color-cerulean-300-25: #7BCDE40;
	--color-cerulean-300-30: #7BCDE4D;
	--color-cerulean-300-35: #7BCDE5A;
	--color-cerulean-300-40: #7BCDE66;
	--color-cerulean-300-45: #7BCDE73;
	--color-cerulean-300-50: #7BCDE80;
	--color-cerulean-300-55: #7BCDE8D;
	--color-cerulean-300-60: #7BCDE9A;
	--color-cerulean-300-65: #7BCDEA6;
	--color-cerulean-300-70: #7BCDEB3;
	--color-cerulean-300-75: #7BCDEC0;
	--color-cerulean-300-80: #7BCDECD;
	--color-cerulean-300-85: #7BCDEDA;
	--color-cerulean-300-90: #7BCDEE6;
	--color-cerulean-300-95: #7BCDEF3;
	--color-cerulean-400-5: #3DAED0D;
	--color-cerulean-400-10: #3DAED1A;
	--color-cerulean-400-15: #3DAED26;
	--color-cerulean-400-20: #3DAED33;
	--color-cerulean-400-25: #3DAED40;
	--color-cerulean-400-30: #3DAED4D;
	--color-cerulean-400-35: #3DAED5A;
	--color-cerulean-400-40: #3DAED66;
	--color-cerulean-400-45: #3DAED73;
	--color-cerulean-400-50: #3DAED80;
	--color-cerulean-400-55: #3DAED8D;
	--color-cerulean-400-60: #3DAED9A;
	--color-cerulean-400-65: #3DAEDA6;
	--color-cerulean-400-70: #3DAEDB3;
	--color-cerulean-400-75: #3DAEDC0;
	--color-cerulean-400-80: #3DAEDCD;
	--color-cerulean-400-85: #3DAEDDA;
	--color-cerulean-400-90: #3DAEDE6;
	--color-cerulean-400-95: #3DAEDF3;
	--color-cerulean-500-5: #2397C0D;
	--color-cerulean-500-10: #2397C1A;
	--color-cerulean-500-15: #2397C26;
	--color-cerulean-500-20: #2397C33;
	--color-cerulean-500-25: #2397C40;
	--color-cerulean-500-30: #2397C4D;
	--color-cerulean-500-35: #2397C5A;
	--color-cerulean-500-40: #2397C66;
	--color-cerulean-500-45: #2397C73;
	--color-cerulean-500-50: #2397C80;
	--color-cerulean-500-55: #2397C8D;
	--color-cerulean-500-60: #2397C9A;
	--color-cerulean-500-65: #2397CA6;
	--color-cerulean-500-70: #2397CB3;
	--color-cerulean-500-75: #2397CC0;
	--color-cerulean-500-80: #2397CCD;
	--color-cerulean-500-85: #2397CDA;
	--color-cerulean-500-90: #2397CE6;
	--color-cerulean-500-95: #2397CF3;
	--color-cerulean-600-5: #1F7590D;
	--color-cerulean-600-10: #1F7591A;
	--color-cerulean-600-15: #1F75926;
	--color-cerulean-600-20: #1F75933;
	--color-cerulean-600-25: #1F75940;
	--color-cerulean-600-30: #1F7594D;
	--color-cerulean-600-35: #1F7595A;
	--color-cerulean-600-40: #1F75966;
	--color-cerulean-600-45: #1F75973;
	--color-cerulean-600-50: #1F75980;
	--color-cerulean-600-55: #1F7598D;
	--color-cerulean-600-60: #1F7599A;
	--color-cerulean-600-65: #1F759A6;
	--color-cerulean-600-70: #1F759B3;
	--color-cerulean-600-75: #1F759C0;
	--color-cerulean-600-80: #1F759CD;
	--color-cerulean-600-85: #1F759DA;
	--color-cerulean-600-90: #1F759E6;
	--color-cerulean-600-95: #1F759F3;
	--color-cerulean-700-5: #1F5F70D;
	--color-cerulean-700-10: #1F5F71A;
	--color-cerulean-700-15: #1F5F726;
	--color-cerulean-700-20: #1F5F733;
	--color-cerulean-700-25: #1F5F740;
	--color-cerulean-700-30: #1F5F74D;
	--color-cerulean-700-35: #1F5F75A;
	--color-cerulean-700-40: #1F5F766;
	--color-cerulean-700-45: #1F5F773;
	--color-cerulean-700-50: #1F5F780;
	--color-cerulean-700-55: #1F5F78D;
	--color-cerulean-700-60: #1F5F79A;
	--color-cerulean-700-65: #1F5F7A6;
	--color-cerulean-700-70: #1F5F7B3;
	--color-cerulean-700-75: #1F5F7C0;
	--color-cerulean-700-80: #1F5F7CD;
	--color-cerulean-700-85: #1F5F7DA;
	--color-cerulean-700-90: #1F5F7E6;
	--color-cerulean-700-95: #1F5F7F3;
	--color-cerulean-800-5: #224F60D;
	--color-cerulean-800-10: #224F61A;
	--color-cerulean-800-15: #224F626;
	--color-cerulean-800-20: #224F633;
	--color-cerulean-800-25: #224F640;
	--color-cerulean-800-30: #224F64D;
	--color-cerulean-800-35: #224F65A;
	--color-cerulean-800-40: #224F666;
	--color-cerulean-800-45: #224F673;
	--color-cerulean-800-50: #224F680;
	--color-cerulean-800-55: #224F68D;
	--color-cerulean-800-60: #224F69A;
	--color-cerulean-800-65: #224F6A6;
	--color-cerulean-800-70: #224F6B3;
	--color-cerulean-800-75: #224F6C0;
	--color-cerulean-800-80: #224F6CD;
	--color-cerulean-800-85: #224F6DA;
	--color-cerulean-800-90: #224F6E6;
	--color-cerulean-800-95: #224F6F3;
	--color-cerulean-900-5: #204250D;
	--color-cerulean-900-10: #204251A;
	--color-cerulean-900-15: #2042526;
	--color-cerulean-900-20: #2042533;
	--color-cerulean-900-25: #2042540;
	--color-cerulean-900-30: #204254D;
	--color-cerulean-900-35: #204255A;
	--color-cerulean-900-40: #2042566;
	--color-cerulean-900-45: #2042573;
	--color-cerulean-900-50: #2042580;
	--color-cerulean-900-55: #204258D;
	--color-cerulean-900-60: #204259A;
	--color-cerulean-900-65: #20425A6;
	--color-cerulean-900-70: #20425B3;
	--color-cerulean-900-75: #20425C0;
	--color-cerulean-900-80: #20425CD;
	--color-cerulean-900-85: #20425DA;
	--color-cerulean-900-90: #20425E6;
	--color-cerulean-900-95: #20425F3;
	--color-cerulean-950-5: #102B30D;
	--color-cerulean-950-10: #102B31A;
	--color-cerulean-950-15: #102B326;
	--color-cerulean-950-20: #102B333;
	--color-cerulean-950-25: #102B340;
	--color-cerulean-950-30: #102B34D;
	--color-cerulean-950-35: #102B35A;
	--color-cerulean-950-40: #102B366;
	--color-cerulean-950-45: #102B373;
	--color-cerulean-950-50: #102B380;
	--color-cerulean-950-55: #102B38D;
	--color-cerulean-950-60: #102B39A;
	--color-cerulean-950-65: #102B3A6;
	--color-cerulean-950-70: #102B3B3;
	--color-cerulean-950-75: #102B3C0;
	--color-cerulean-950-80: #102B3CD;
	--color-cerulean-950-85: #102B3DA;
	--color-cerulean-950-90: #102B3E6;
	--color-cerulean-950-95: #102B3F3;
}