@theme {
	--color-copper-50-5: #F8F5F0D;
	--color-copper-50-10: #F8F5F1A;
	--color-copper-50-15: #F8F5F26;
	--color-copper-50-20: #F8F5F33;
	--color-copper-50-25: #F8F5F40;
	--color-copper-50-30: #F8F5F4D;
	--color-copper-50-35: #F8F5F5A;
	--color-copper-50-40: #F8F5F66;
	--color-copper-50-45: #F8F5F73;
	--color-copper-50-50: #F8F5F80;
	--color-copper-50-55: #F8F5F8D;
	--color-copper-50-60: #F8F5F9A;
	--color-copper-50-65: #F8F5FA6;
	--color-copper-50-70: #F8F5FB3;
	--color-copper-50-75: #F8F5FC0;
	--color-copper-50-80: #F8F5FCD;
	--color-copper-50-85: #F8F5FDA;
	--color-copper-50-90: #F8F5FE6;
	--color-copper-50-95: #F8F5FF3;
	--color-copper-100-5: #ECE1D0D;
	--color-copper-100-10: #ECE1D1A;
	--color-copper-100-15: #ECE1D26;
	--color-copper-100-20: #ECE1D33;
	--color-copper-100-25: #ECE1D40;
	--color-copper-100-30: #ECE1D4D;
	--color-copper-100-35: #ECE1D5A;
	--color-copper-100-40: #ECE1D66;
	--color-copper-100-45: #ECE1D73;
	--color-copper-100-50: #ECE1D80;
	--color-copper-100-55: #ECE1D8D;
	--color-copper-100-60: #ECE1D9A;
	--color-copper-100-65: #ECE1DA6;
	--color-copper-100-70: #ECE1DB3;
	--color-copper-100-75: #ECE1DC0;
	--color-copper-100-80: #ECE1DCD;
	--color-copper-100-85: #ECE1DDA;
	--color-copper-100-90: #ECE1DE6;
	--color-copper-100-95: #ECE1DF3;
	--color-copper-200-5: #D7C1B0D;
	--color-copper-200-10: #D7C1B1A;
	--color-copper-200-15: #D7C1B26;
	--color-copper-200-20: #D7C1B33;
	--color-copper-200-25: #D7C1B40;
	--color-copper-200-30: #D7C1B4D;
	--color-copper-200-35: #D7C1B5A;
	--color-copper-200-40: #D7C1B66;
	--color-copper-200-45: #D7C1B73;
	--color-copper-200-50: #D7C1B80;
	--color-copper-200-55: #D7C1B8D;
	--color-copper-200-60: #D7C1B9A;
	--color-copper-200-65: #D7C1BA6;
	--color-copper-200-70: #D7C1BB3;
	--color-copper-200-75: #D7C1BC0;
	--color-copper-200-80: #D7C1BCD;
	--color-copper-200-85: #D7C1BDA;
	--color-copper-200-90: #D7C1BE6;
	--color-copper-200-95: #D7C1BF3;
	--color-copper-300-5: #C29F80D;
	--color-copper-300-10: #C29F81A;
	--color-copper-300-15: #C29F826;
	--color-copper-300-20: #C29F833;
	--color-copper-300-25: #C29F840;
	--color-copper-300-30: #C29F84D;
	--color-copper-300-35: #C29F85A;
	--color-copper-300-40: #C29F866;
	--color-copper-300-45: #C29F873;
	--color-copper-300-50: #C29F880;
	--color-copper-300-55: #C29F88D;
	--color-copper-300-60: #C29F89A;
	--color-copper-300-65: #C29F8A6;
	--color-copper-300-70: #C29F8B3;
	--color-copper-300-75: #C29F8C0;
	--color-copper-300-80: #C29F8CD;
	--color-copper-300-85: #C29F8DA;
	--color-copper-300-90: #C29F8E6;
	--color-copper-300-95: #C29F8F3;
	--color-copper-400-5: #9F6850D;
	--color-copper-400-10: #9F6851A;
	--color-copper-400-15: #9F68526;
	--color-copper-400-20: #9F68533;
	--color-copper-400-25: #9F68540;
	--color-copper-400-30: #9F6854D;
	--color-copper-400-35: #9F6855A;
	--color-copper-400-40: #9F68566;
	--color-copper-400-45: #9F68573;
	--color-copper-400-50: #9F68580;
	--color-copper-400-55: #9F6858D;
	--color-copper-400-60: #9F6859A;
	--color-copper-400-65: #9F685A6;
	--color-copper-400-70: #9F685B3;
	--color-copper-400-75: #9F685C0;
	--color-copper-400-80: #9F685CD;
	--color-copper-400-85: #9F685DA;
	--color-copper-400-90: #9F685E6;
	--color-copper-400-95: #9F685F3;
	--color-copper-500-5: #9F6850D;
	--color-copper-500-10: #9F6851A;
	--color-copper-500-15: #9F68526;
	--color-copper-500-20: #9F68533;
	--color-copper-500-25: #9F68540;
	--color-copper-500-30: #9F6854D;
	--color-copper-500-35: #9F6855A;
	--color-copper-500-40: #9F68566;
	--color-copper-500-45: #9F68573;
	--color-copper-500-50: #9F68580;
	--color-copper-500-55: #9F6858D;
	--color-copper-500-60: #9F6859A;
	--color-copper-500-65: #9F685A6;
	--color-copper-500-70: #9F685B3;
	--color-copper-500-75: #9F685C0;
	--color-copper-500-80: #9F685CD;
	--color-copper-500-85: #9F685DA;
	--color-copper-500-90: #9F685E6;
	--color-copper-500-95: #9F685F3;
	--color-copper-600-5: #935840D;
	--color-copper-600-10: #935841A;
	--color-copper-600-15: #9358426;
	--color-copper-600-20: #9358433;
	--color-copper-600-25: #9358440;
	--color-copper-600-30: #935844D;
	--color-copper-600-35: #935845A;
	--color-copper-600-40: #9358466;
	--color-copper-600-45: #9358473;
	--color-copper-600-50: #9358480;
	--color-copper-600-55: #935848D;
	--color-copper-600-60: #935849A;
	--color-copper-600-65: #93584A6;
	--color-copper-600-70: #93584B3;
	--color-copper-600-75: #93584C0;
	--color-copper-600-80: #93584CD;
	--color-copper-600-85: #93584DA;
	--color-copper-600-90: #93584E6;
	--color-copper-600-95: #93584F3;
	--color-copper-700-5: #7B4640D;
	--color-copper-700-10: #7B4641A;
	--color-copper-700-15: #7B46426;
	--color-copper-700-20: #7B46433;
	--color-copper-700-25: #7B46440;
	--color-copper-700-30: #7B4644D;
	--color-copper-700-35: #7B4645A;
	--color-copper-700-40: #7B46466;
	--color-copper-700-45: #7B46473;
	--color-copper-700-50: #7B46480;
	--color-copper-700-55: #7B4648D;
	--color-copper-700-60: #7B4649A;
	--color-copper-700-65: #7B464A6;
	--color-copper-700-70: #7B464B3;
	--color-copper-700-75: #7B464C0;
	--color-copper-700-80: #7B464CD;
	--color-copper-700-85: #7B464DA;
	--color-copper-700-90: #7B464E6;
	--color-copper-700-95: #7B464F3;
	--color-copper-800-5: #663B30D;
	--color-copper-800-10: #663B31A;
	--color-copper-800-15: #663B326;
	--color-copper-800-20: #663B333;
	--color-copper-800-25: #663B340;
	--color-copper-800-30: #663B34D;
	--color-copper-800-35: #663B35A;
	--color-copper-800-40: #663B366;
	--color-copper-800-45: #663B373;
	--color-copper-800-50: #663B380;
	--color-copper-800-55: #663B38D;
	--color-copper-800-60: #663B39A;
	--color-copper-800-65: #663B3A6;
	--color-copper-800-70: #663B3B3;
	--color-copper-800-75: #663B3C0;
	--color-copper-800-80: #663B3CD;
	--color-copper-800-85: #663B3DA;
	--color-copper-800-90: #663B3E6;
	--color-copper-800-95: #663B3F3;
	--color-copper-900-5: #553230D;
	--color-copper-900-10: #553231A;
	--color-copper-900-15: #5532326;
	--color-copper-900-20: #5532333;
	--color-copper-900-25: #5532340;
	--color-copper-900-30: #553234D;
	--color-copper-900-35: #553235A;
	--color-copper-900-40: #5532366;
	--color-copper-900-45: #5532373;
	--color-copper-900-50: #5532380;
	--color-copper-900-55: #553238D;
	--color-copper-900-60: #553239A;
	--color-copper-900-65: #55323A6;
	--color-copper-900-70: #55323B3;
	--color-copper-900-75: #55323C0;
	--color-copper-900-80: #55323CD;
	--color-copper-900-85: #55323DA;
	--color-copper-900-90: #55323E6;
	--color-copper-900-95: #55323F3;
	--color-copper-950-5: #2F1910D;
	--color-copper-950-10: #2F1911A;
	--color-copper-950-15: #2F19126;
	--color-copper-950-20: #2F19133;
	--color-copper-950-25: #2F19140;
	--color-copper-950-30: #2F1914D;
	--color-copper-950-35: #2F1915A;
	--color-copper-950-40: #2F19166;
	--color-copper-950-45: #2F19173;
	--color-copper-950-50: #2F19180;
	--color-copper-950-55: #2F1918D;
	--color-copper-950-60: #2F1919A;
	--color-copper-950-65: #2F191A6;
	--color-copper-950-70: #2F191B3;
	--color-copper-950-75: #2F191C0;
	--color-copper-950-80: #2F191CD;
	--color-copper-950-85: #2F191DA;
	--color-copper-950-90: #2F191E6;
	--color-copper-950-95: #2F191F3;
}