@theme {
	--color-emerald-50-5: #F1FCF0D;
	--color-emerald-50-10: #F1FCF1A;
	--color-emerald-50-15: #F1FCF26;
	--color-emerald-50-20: #F1FCF33;
	--color-emerald-50-25: #F1FCF40;
	--color-emerald-50-30: #F1FCF4D;
	--color-emerald-50-35: #F1FCF5A;
	--color-emerald-50-40: #F1FCF66;
	--color-emerald-50-45: #F1FCF73;
	--color-emerald-50-50: #F1FCF80;
	--color-emerald-50-55: #F1FCF8D;
	--color-emerald-50-60: #F1FCF9A;
	--color-emerald-50-65: #F1FCFA6;
	--color-emerald-50-70: #F1FCFB3;
	--color-emerald-50-75: #F1FCFC0;
	--color-emerald-50-80: #F1FCFCD;
	--color-emerald-50-85: #F1FCFDA;
	--color-emerald-50-90: #F1FCFE6;
	--color-emerald-50-95: #F1FCFF3;
	--color-emerald-100-5: #DEFAE0D;
	--color-emerald-100-10: #DEFAE1A;
	--color-emerald-100-15: #DEFAE26;
	--color-emerald-100-20: #DEFAE33;
	--color-emerald-100-25: #DEFAE40;
	--color-emerald-100-30: #DEFAE4D;
	--color-emerald-100-35: #DEFAE5A;
	--color-emerald-100-40: #DEFAE66;
	--color-emerald-100-45: #DEFAE73;
	--color-emerald-100-50: #DEFAE80;
	--color-emerald-100-55: #DEFAE8D;
	--color-emerald-100-60: #DEFAE9A;
	--color-emerald-100-65: #DEFAEA6;
	--color-emerald-100-70: #DEFAEB3;
	--color-emerald-100-75: #DEFAEC0;
	--color-emerald-100-80: #DEFAECD;
	--color-emerald-100-85: #DEFAEDA;
	--color-emerald-100-90: #DEFAEE6;
	--color-emerald-100-95: #DEFAEF3;
	--color-emerald-200-5: #BFF3C0D;
	--color-emerald-200-10: #BFF3C1A;
	--color-emerald-200-15: #BFF3C26;
	--color-emerald-200-20: #BFF3C33;
	--color-emerald-200-25: #BFF3C40;
	--color-emerald-200-30: #BFF3C4D;
	--color-emerald-200-35: #BFF3C5A;
	--color-emerald-200-40: #BFF3C66;
	--color-emerald-200-45: #BFF3C73;
	--color-emerald-200-50: #BFF3C80;
	--color-emerald-200-55: #BFF3C8D;
	--color-emerald-200-60: #BFF3C9A;
	--color-emerald-200-65: #BFF3CA6;
	--color-emerald-200-70: #BFF3CB3;
	--color-emerald-200-75: #BFF3CC0;
	--color-emerald-200-80: #BFF3CCD;
	--color-emerald-200-85: #BFF3CDA;
	--color-emerald-200-90: #BFF3CE6;
	--color-emerald-200-95: #BFF3CF3;
	--color-emerald-300-5: #8CE9A0D;
	--color-emerald-300-10: #8CE9A1A;
	--color-emerald-300-15: #8CE9A26;
	--color-emerald-300-20: #8CE9A33;
	--color-emerald-300-25: #8CE9A40;
	--color-emerald-300-30: #8CE9A4D;
	--color-emerald-300-35: #8CE9A5A;
	--color-emerald-300-40: #8CE9A66;
	--color-emerald-300-45: #8CE9A73;
	--color-emerald-300-50: #8CE9A80;
	--color-emerald-300-55: #8CE9A8D;
	--color-emerald-300-60: #8CE9A9A;
	--color-emerald-300-65: #8CE9AA6;
	--color-emerald-300-70: #8CE9AB3;
	--color-emerald-300-75: #8CE9AC0;
	--color-emerald-300-80: #8CE9ACD;
	--color-emerald-300-85: #8CE9ADA;
	--color-emerald-300-90: #8CE9AE6;
	--color-emerald-300-95: #8CE9AF3;
	--color-emerald-400-5: #53D570D;
	--color-emerald-400-10: #53D571A;
	--color-emerald-400-15: #53D5726;
	--color-emerald-400-20: #53D5733;
	--color-emerald-400-25: #53D5740;
	--color-emerald-400-30: #53D574D;
	--color-emerald-400-35: #53D575A;
	--color-emerald-400-40: #53D5766;
	--color-emerald-400-45: #53D5773;
	--color-emerald-400-50: #53D5780;
	--color-emerald-400-55: #53D578D;
	--color-emerald-400-60: #53D579A;
	--color-emerald-400-65: #53D57A6;
	--color-emerald-400-70: #53D57B3;
	--color-emerald-400-75: #53D57C0;
	--color-emerald-400-80: #53D57CD;
	--color-emerald-400-85: #53D57DA;
	--color-emerald-400-90: #53D57E6;
	--color-emerald-400-95: #53D57F3;
	--color-emerald-500-5: #2AB340D;
	--color-emerald-500-10: #2AB341A;
	--color-emerald-500-15: #2AB3426;
	--color-emerald-500-20: #2AB3433;
	--color-emerald-500-25: #2AB3440;
	--color-emerald-500-30: #2AB344D;
	--color-emerald-500-35: #2AB345A;
	--color-emerald-500-40: #2AB3466;
	--color-emerald-500-45: #2AB3473;
	--color-emerald-500-50: #2AB3480;
	--color-emerald-500-55: #2AB348D;
	--color-emerald-500-60: #2AB349A;
	--color-emerald-500-65: #2AB34A6;
	--color-emerald-500-70: #2AB34B3;
	--color-emerald-500-75: #2AB34C0;
	--color-emerald-500-80: #2AB34CD;
	--color-emerald-500-85: #2AB34DA;
	--color-emerald-500-90: #2AB34E6;
	--color-emerald-500-95: #2AB34F3;
	--color-emerald-600-5: #1F9A30D;
	--color-emerald-600-10: #1F9A31A;
	--color-emerald-600-15: #1F9A326;
	--color-emerald-600-20: #1F9A333;
	--color-emerald-600-25: #1F9A340;
	--color-emerald-600-30: #1F9A34D;
	--color-emerald-600-35: #1F9A35A;
	--color-emerald-600-40: #1F9A366;
	--color-emerald-600-45: #1F9A373;
	--color-emerald-600-50: #1F9A380;
	--color-emerald-600-55: #1F9A38D;
	--color-emerald-600-60: #1F9A39A;
	--color-emerald-600-65: #1F9A3A6;
	--color-emerald-600-70: #1F9A3B3;
	--color-emerald-600-75: #1F9A3C0;
	--color-emerald-600-80: #1F9A3CD;
	--color-emerald-600-85: #1F9A3DA;
	--color-emerald-600-90: #1F9A3E6;
	--color-emerald-600-95: #1F9A3F3;
	--color-emerald-700-5: #1B7A30D;
	--color-emerald-700-10: #1B7A31A;
	--color-emerald-700-15: #1B7A326;
	--color-emerald-700-20: #1B7A333;
	--color-emerald-700-25: #1B7A340;
	--color-emerald-700-30: #1B7A34D;
	--color-emerald-700-35: #1B7A35A;
	--color-emerald-700-40: #1B7A366;
	--color-emerald-700-45: #1B7A373;
	--color-emerald-700-50: #1B7A380;
	--color-emerald-700-55: #1B7A38D;
	--color-emerald-700-60: #1B7A39A;
	--color-emerald-700-65: #1B7A3A6;
	--color-emerald-700-70: #1B7A3B3;
	--color-emerald-700-75: #1B7A3C0;
	--color-emerald-700-80: #1B7A3CD;
	--color-emerald-700-85: #1B7A3DA;
	--color-emerald-700-90: #1B7A3E6;
	--color-emerald-700-95: #1B7A3F3;
	--color-emerald-800-5: #1B6020D;
	--color-emerald-800-10: #1B6021A;
	--color-emerald-800-15: #1B60226;
	--color-emerald-800-20: #1B60233;
	--color-emerald-800-25: #1B60240;
	--color-emerald-800-30: #1B6024D;
	--color-emerald-800-35: #1B6025A;
	--color-emerald-800-40: #1B60266;
	--color-emerald-800-45: #1B60273;
	--color-emerald-800-50: #1B60280;
	--color-emerald-800-55: #1B6028D;
	--color-emerald-800-60: #1B6029A;
	--color-emerald-800-65: #1B602A6;
	--color-emerald-800-70: #1B602B3;
	--color-emerald-800-75: #1B602C0;
	--color-emerald-800-80: #1B602CD;
	--color-emerald-800-85: #1B602DA;
	--color-emerald-800-90: #1B602E6;
	--color-emerald-800-95: #1B602F3;
	--color-emerald-900-5: #184F20D;
	--color-emerald-900-10: #184F21A;
	--color-emerald-900-15: #184F226;
	--color-emerald-900-20: #184F233;
	--color-emerald-900-25: #184F240;
	--color-emerald-900-30: #184F24D;
	--color-emerald-900-35: #184F25A;
	--color-emerald-900-40: #184F266;
	--color-emerald-900-45: #184F273;
	--color-emerald-900-50: #184F280;
	--color-emerald-900-55: #184F28D;
	--color-emerald-900-60: #184F29A;
	--color-emerald-900-65: #184F2A6;
	--color-emerald-900-70: #184F2B3;
	--color-emerald-900-75: #184F2C0;
	--color-emerald-900-80: #184F2CD;
	--color-emerald-900-85: #184F2DA;
	--color-emerald-900-90: #184F2E6;
	--color-emerald-900-95: #184F2F3;
	--color-emerald-950-5: #072C10D;
	--color-emerald-950-10: #072C11A;
	--color-emerald-950-15: #072C126;
	--color-emerald-950-20: #072C133;
	--color-emerald-950-25: #072C140;
	--color-emerald-950-30: #072C14D;
	--color-emerald-950-35: #072C15A;
	--color-emerald-950-40: #072C166;
	--color-emerald-950-45: #072C173;
	--color-emerald-950-50: #072C180;
	--color-emerald-950-55: #072C18D;
	--color-emerald-950-60: #072C19A;
	--color-emerald-950-65: #072C1A6;
	--color-emerald-950-70: #072C1B3;
	--color-emerald-950-75: #072C1C0;
	--color-emerald-950-80: #072C1CD;
	--color-emerald-950-85: #072C1DA;
	--color-emerald-950-90: #072C1E6;
	--color-emerald-950-95: #072C1F3;
}