@theme {
	--color-pine-50-5: #F2F7F0D;
	--color-pine-50-10: #F2F7F1A;
	--color-pine-50-15: #F2F7F26;
	--color-pine-50-20: #F2F7F33;
	--color-pine-50-25: #F2F7F40;
	--color-pine-50-30: #F2F7F4D;
	--color-pine-50-35: #F2F7F5A;
	--color-pine-50-40: #F2F7F66;
	--color-pine-50-45: #F2F7F73;
	--color-pine-50-50: #F2F7F80;
	--color-pine-50-55: #F2F7F8D;
	--color-pine-50-60: #F2F7F9A;
	--color-pine-50-65: #F2F7FA6;
	--color-pine-50-70: #F2F7FB3;
	--color-pine-50-75: #F2F7FC0;
	--color-pine-50-80: #F2F7FCD;
	--color-pine-50-85: #F2F7FDA;
	--color-pine-50-90: #F2F7FE6;
	--color-pine-50-95: #F2F7FF3;
	--color-pine-100-5: #DFECE0D;
	--color-pine-100-10: #DFECE1A;
	--color-pine-100-15: #DFECE26;
	--color-pine-100-20: #DFECE33;
	--color-pine-100-25: #DFECE40;
	--color-pine-100-30: #DFECE4D;
	--color-pine-100-35: #DFECE5A;
	--color-pine-100-40: #DFECE66;
	--color-pine-100-45: #DFECE73;
	--color-pine-100-50: #DFECE80;
	--color-pine-100-55: #DFECE8D;
	--color-pine-100-60: #DFECE9A;
	--color-pine-100-65: #DFECEA6;
	--color-pine-100-70: #DFECEB3;
	--color-pine-100-75: #DFECEC0;
	--color-pine-100-80: #DFECECD;
	--color-pine-100-85: #DFECEDA;
	--color-pine-100-90: #DFECEE6;
	--color-pine-100-95: #DFECEF3;
	--color-pine-200-5: #C0DAC0D;
	--color-pine-200-10: #C0DAC1A;
	--color-pine-200-15: #C0DAC26;
	--color-pine-200-20: #C0DAC33;
	--color-pine-200-25: #C0DAC40;
	--color-pine-200-30: #C0DAC4D;
	--color-pine-200-35: #C0DAC5A;
	--color-pine-200-40: #C0DAC66;
	--color-pine-200-45: #C0DAC73;
	--color-pine-200-50: #C0DAC80;
	--color-pine-200-55: #C0DAC8D;
	--color-pine-200-60: #C0DAC9A;
	--color-pine-200-65: #C0DACA6;
	--color-pine-200-70: #C0DACB3;
	--color-pine-200-75: #C0DACC0;
	--color-pine-200-80: #C0DACCD;
	--color-pine-200-85: #C0DACDA;
	--color-pine-200-90: #C0DACE6;
	--color-pine-200-95: #C0DACF3;
	--color-pine-300-5: #86B580D;
	--color-pine-300-10: #86B581A;
	--color-pine-300-15: #86B5826;
	--color-pine-300-20: #86B5833;
	--color-pine-300-25: #86B5840;
	--color-pine-300-30: #86B584D;
	--color-pine-300-35: #86B585A;
	--color-pine-300-40: #86B5866;
	--color-pine-300-45: #86B5873;
	--color-pine-300-50: #86B5880;
	--color-pine-300-55: #86B588D;
	--color-pine-300-60: #86B589A;
	--color-pine-300-65: #86B58A6;
	--color-pine-300-70: #86B58B3;
	--color-pine-300-75: #86B58C0;
	--color-pine-300-80: #86B58CD;
	--color-pine-300-85: #86B58DA;
	--color-pine-300-90: #86B58E6;
	--color-pine-300-95: #86B58F3;
	--color-pine-400-5: #699E70D;
	--color-pine-400-10: #699E71A;
	--color-pine-400-15: #699E726;
	--color-pine-400-20: #699E733;
	--color-pine-400-25: #699E740;
	--color-pine-400-30: #699E74D;
	--color-pine-400-35: #699E75A;
	--color-pine-400-40: #699E766;
	--color-pine-400-45: #699E773;
	--color-pine-400-50: #699E780;
	--color-pine-400-55: #699E78D;
	--color-pine-400-60: #699E79A;
	--color-pine-400-65: #699E7A6;
	--color-pine-400-70: #699E7B3;
	--color-pine-400-75: #699E7C0;
	--color-pine-400-80: #699E7CD;
	--color-pine-400-85: #699E7DA;
	--color-pine-400-90: #699E7E6;
	--color-pine-400-95: #699E7F3;
	--color-pine-500-5: #488150D;
	--color-pine-500-10: #488151A;
	--color-pine-500-15: #4881526;
	--color-pine-500-20: #4881533;
	--color-pine-500-25: #4881540;
	--color-pine-500-30: #488154D;
	--color-pine-500-35: #488155A;
	--color-pine-500-40: #4881566;
	--color-pine-500-45: #4881573;
	--color-pine-500-50: #4881580;
	--color-pine-500-55: #488158D;
	--color-pine-500-60: #488159A;
	--color-pine-500-65: #48815A6;
	--color-pine-500-70: #48815B3;
	--color-pine-500-75: #48815C0;
	--color-pine-500-80: #48815CD;
	--color-pine-500-85: #48815DA;
	--color-pine-500-90: #48815E6;
	--color-pine-500-95: #48815F3;
	--color-pine-600-5: #356640D;
	--color-pine-600-10: #356641A;
	--color-pine-600-15: #3566426;
	--color-pine-600-20: #3566433;
	--color-pine-600-25: #3566440;
	--color-pine-600-30: #356644D;
	--color-pine-600-35: #356645A;
	--color-pine-600-40: #3566466;
	--color-pine-600-45: #3566473;
	--color-pine-600-50: #3566480;
	--color-pine-600-55: #356648D;
	--color-pine-600-60: #356649A;
	--color-pine-600-65: #35664A6;
	--color-pine-600-70: #35664B3;
	--color-pine-600-75: #35664C0;
	--color-pine-600-80: #35664CD;
	--color-pine-600-85: #35664DA;
	--color-pine-600-90: #35664E6;
	--color-pine-600-95: #35664F3;
	--color-pine-700-5: #2A5230D;
	--color-pine-700-10: #2A5231A;
	--color-pine-700-15: #2A52326;
	--color-pine-700-20: #2A52333;
	--color-pine-700-25: #2A52340;
	--color-pine-700-30: #2A5234D;
	--color-pine-700-35: #2A5235A;
	--color-pine-700-40: #2A52366;
	--color-pine-700-45: #2A52373;
	--color-pine-700-50: #2A52380;
	--color-pine-700-55: #2A5238D;
	--color-pine-700-60: #2A5239A;
	--color-pine-700-65: #2A523A6;
	--color-pine-700-70: #2A523B3;
	--color-pine-700-75: #2A523C0;
	--color-pine-700-80: #2A523CD;
	--color-pine-700-85: #2A523DA;
	--color-pine-700-90: #2A523E6;
	--color-pine-700-95: #2A523F3;
	--color-pine-800-5: #244120D;
	--color-pine-800-10: #244121A;
	--color-pine-800-15: #2441226;
	--color-pine-800-20: #2441233;
	--color-pine-800-25: #2441240;
	--color-pine-800-30: #244124D;
	--color-pine-800-35: #244125A;
	--color-pine-800-40: #2441266;
	--color-pine-800-45: #2441273;
	--color-pine-800-50: #2441280;
	--color-pine-800-55: #244128D;
	--color-pine-800-60: #244129A;
	--color-pine-800-65: #24412A6;
	--color-pine-800-70: #24412B3;
	--color-pine-800-75: #24412C0;
	--color-pine-800-80: #24412CD;
	--color-pine-800-85: #24412DA;
	--color-pine-800-90: #24412E6;
	--color-pine-800-95: #24412F3;
	--color-pine-900-5: #1E3620D;
	--color-pine-900-10: #1E3621A;
	--color-pine-900-15: #1E36226;
	--color-pine-900-20: #1E36233;
	--color-pine-900-25: #1E36240;
	--color-pine-900-30: #1E3624D;
	--color-pine-900-35: #1E3625A;
	--color-pine-900-40: #1E36266;
	--color-pine-900-45: #1E36273;
	--color-pine-900-50: #1E36280;
	--color-pine-900-55: #1E3628D;
	--color-pine-900-60: #1E3629A;
	--color-pine-900-65: #1E362A6;
	--color-pine-900-70: #1E362B3;
	--color-pine-900-75: #1E362C0;
	--color-pine-900-80: #1E362CD;
	--color-pine-900-85: #1E362DA;
	--color-pine-900-90: #1E362E6;
	--color-pine-900-95: #1E362F3;
	--color-pine-950-5: #101E10D;
	--color-pine-950-10: #101E11A;
	--color-pine-950-15: #101E126;
	--color-pine-950-20: #101E133;
	--color-pine-950-25: #101E140;
	--color-pine-950-30: #101E14D;
	--color-pine-950-35: #101E15A;
	--color-pine-950-40: #101E166;
	--color-pine-950-45: #101E173;
	--color-pine-950-50: #101E180;
	--color-pine-950-55: #101E18D;
	--color-pine-950-60: #101E19A;
	--color-pine-950-65: #101E1A6;
	--color-pine-950-70: #101E1B3;
	--color-pine-950-75: #101E1C0;
	--color-pine-950-80: #101E1CD;
	--color-pine-950-85: #101E1DA;
	--color-pine-950-90: #101E1E6;
	--color-pine-950-95: #101E1F3;
}