@theme {
	--color-sienna-50-5: #FFF8E0D;
	--color-sienna-50-10: #FFF8E1A;
	--color-sienna-50-15: #FFF8E26;
	--color-sienna-50-20: #FFF8E33;
	--color-sienna-50-25: #FFF8E40;
	--color-sienna-50-30: #FFF8E4D;
	--color-sienna-50-35: #FFF8E5A;
	--color-sienna-50-40: #FFF8E66;
	--color-sienna-50-45: #FFF8E73;
	--color-sienna-50-50: #FFF8E80;
	--color-sienna-50-55: #FFF8E8D;
	--color-sienna-50-60: #FFF8E9A;
	--color-sienna-50-65: #FFF8EA6;
	--color-sienna-50-70: #FFF8EB3;
	--color-sienna-50-75: #FFF8EC0;
	--color-sienna-50-80: #FFF8ECD;
	--color-sienna-50-85: #FFF8EDA;
	--color-sienna-50-90: #FFF8EE6;
	--color-sienna-50-95: #FFF8EF3;
	--color-sienna-100-5: #FEEFD0D;
	--color-sienna-100-10: #FEEFD1A;
	--color-sienna-100-15: #FEEFD26;
	--color-sienna-100-20: #FEEFD33;
	--color-sienna-100-25: #FEEFD40;
	--color-sienna-100-30: #FEEFD4D;
	--color-sienna-100-35: #FEEFD5A;
	--color-sienna-100-40: #FEEFD66;
	--color-sienna-100-45: #FEEFD73;
	--color-sienna-100-50: #FEEFD80;
	--color-sienna-100-55: #FEEFD8D;
	--color-sienna-100-60: #FEEFD9A;
	--color-sienna-100-65: #FEEFDA6;
	--color-sienna-100-70: #FEEFDB3;
	--color-sienna-100-75: #FEEFDC0;
	--color-sienna-100-80: #FEEFDCD;
	--color-sienna-100-85: #FEEFDDA;
	--color-sienna-100-90: #FEEFDE6;
	--color-sienna-100-95: #FEEFDF3;
	--color-sienna-200-5: #FCDAA0D;
	--color-sienna-200-10: #FCDAA1A;
	--color-sienna-200-15: #FCDAA26;
	--color-sienna-200-20: #FCDAA33;
	--color-sienna-200-25: #FCDAA40;
	--color-sienna-200-30: #FCDAA4D;
	--color-sienna-200-35: #FCDAA5A;
	--color-sienna-200-40: #FCDAA66;
	--color-sienna-200-45: #FCDAA73;
	--color-sienna-200-50: #FCDAA80;
	--color-sienna-200-55: #FCDAA8D;
	--color-sienna-200-60: #FCDAA9A;
	--color-sienna-200-65: #FCDAAA6;
	--color-sienna-200-70: #FCDAAB3;
	--color-sienna-200-75: #FCDAAC0;
	--color-sienna-200-80: #FCDAACD;
	--color-sienna-200-85: #FCDAADA;
	--color-sienna-200-90: #FCDAAE6;
	--color-sienna-200-95: #FCDAAF3;
	--color-sienna-300-5: #FAC070D;
	--color-sienna-300-10: #FAC071A;
	--color-sienna-300-15: #FAC0726;
	--color-sienna-300-20: #FAC0733;
	--color-sienna-300-25: #FAC0740;
	--color-sienna-300-30: #FAC074D;
	--color-sienna-300-35: #FAC075A;
	--color-sienna-300-40: #FAC0766;
	--color-sienna-300-45: #FAC0773;
	--color-sienna-300-50: #FAC0780;
	--color-sienna-300-55: #FAC078D;
	--color-sienna-300-60: #FAC079A;
	--color-sienna-300-65: #FAC07A6;
	--color-sienna-300-70: #FAC07B3;
	--color-sienna-300-75: #FAC07C0;
	--color-sienna-300-80: #FAC07CD;
	--color-sienna-300-85: #FAC07DA;
	--color-sienna-300-90: #FAC07E6;
	--color-sienna-300-95: #FAC07F3;
	--color-sienna-400-5: #F79A40D;
	--color-sienna-400-10: #F79A41A;
	--color-sienna-400-15: #F79A426;
	--color-sienna-400-20: #F79A433;
	--color-sienna-400-25: #F79A440;
	--color-sienna-400-30: #F79A44D;
	--color-sienna-400-35: #F79A45A;
	--color-sienna-400-40: #F79A466;
	--color-sienna-400-45: #F79A473;
	--color-sienna-400-50: #F79A480;
	--color-sienna-400-55: #F79A48D;
	--color-sienna-400-60: #F79A49A;
	--color-sienna-400-65: #F79A4A6;
	--color-sienna-400-70: #F79A4B3;
	--color-sienna-400-75: #F79A4C0;
	--color-sienna-400-80: #F79A4CD;
	--color-sienna-400-85: #F79A4DA;
	--color-sienna-400-90: #F79A4E6;
	--color-sienna-400-95: #F79A4F3;
	--color-sienna-500-5: #F58720D;
	--color-sienna-500-10: #F58721A;
	--color-sienna-500-15: #F587226;
	--color-sienna-500-20: #F587233;
	--color-sienna-500-25: #F587240;
	--color-sienna-500-30: #F58724D;
	--color-sienna-500-35: #F58725A;
	--color-sienna-500-40: #F587266;
	--color-sienna-500-45: #F587273;
	--color-sienna-500-50: #F587280;
	--color-sienna-500-55: #F58728D;
	--color-sienna-500-60: #F58729A;
	--color-sienna-500-65: #F5872A6;
	--color-sienna-500-70: #F5872B3;
	--color-sienna-500-75: #F5872C0;
	--color-sienna-500-80: #F5872CD;
	--color-sienna-500-85: #F5872DA;
	--color-sienna-500-90: #F5872E6;
	--color-sienna-500-95: #F5872F3;
	--color-sienna-600-5: #E56210D;
	--color-sienna-600-10: #E56211A;
	--color-sienna-600-15: #E562126;
	--color-sienna-600-20: #E562133;
	--color-sienna-600-25: #E562140;
	--color-sienna-600-30: #E56214D;
	--color-sienna-600-35: #E56215A;
	--color-sienna-600-40: #E562166;
	--color-sienna-600-45: #E562173;
	--color-sienna-600-50: #E562180;
	--color-sienna-600-55: #E56218D;
	--color-sienna-600-60: #E56219A;
	--color-sienna-600-65: #E5621A6;
	--color-sienna-600-70: #E5621B3;
	--color-sienna-600-75: #E5621C0;
	--color-sienna-600-80: #E5621CD;
	--color-sienna-600-85: #E5621DA;
	--color-sienna-600-90: #E5621E6;
	--color-sienna-600-95: #E5621F3;
	--color-sienna-700-5: #BE4A10D;
	--color-sienna-700-10: #BE4A11A;
	--color-sienna-700-15: #BE4A126;
	--color-sienna-700-20: #BE4A133;
	--color-sienna-700-25: #BE4A140;
	--color-sienna-700-30: #BE4A14D;
	--color-sienna-700-35: #BE4A15A;
	--color-sienna-700-40: #BE4A166;
	--color-sienna-700-45: #BE4A173;
	--color-sienna-700-50: #BE4A180;
	--color-sienna-700-55: #BE4A18D;
	--color-sienna-700-60: #BE4A19A;
	--color-sienna-700-65: #BE4A1A6;
	--color-sienna-700-70: #BE4A1B3;
	--color-sienna-700-75: #BE4A1C0;
	--color-sienna-700-80: #BE4A1CD;
	--color-sienna-700-85: #BE4A1DA;
	--color-sienna-700-90: #BE4A1E6;
	--color-sienna-700-95: #BE4A1F3;
	--color-sienna-800-5: #973B10D;
	--color-sienna-800-10: #973B11A;
	--color-sienna-800-15: #973B126;
	--color-sienna-800-20: #973B133;
	--color-sienna-800-25: #973B140;
	--color-sienna-800-30: #973B14D;
	--color-sienna-800-35: #973B15A;
	--color-sienna-800-40: #973B166;
	--color-sienna-800-45: #973B173;
	--color-sienna-800-50: #973B180;
	--color-sienna-800-55: #973B18D;
	--color-sienna-800-60: #973B19A;
	--color-sienna-800-65: #973B1A6;
	--color-sienna-800-70: #973B1B3;
	--color-sienna-800-75: #973B1C0;
	--color-sienna-800-80: #973B1CD;
	--color-sienna-800-85: #973B1DA;
	--color-sienna-800-90: #973B1E6;
	--color-sienna-800-95: #973B1F3;
	--color-sienna-900-5: #7A3210D;
	--color-sienna-900-10: #7A3211A;
	--color-sienna-900-15: #7A32126;
	--color-sienna-900-20: #7A32133;
	--color-sienna-900-25: #7A32140;
	--color-sienna-900-30: #7A3214D;
	--color-sienna-900-35: #7A3215A;
	--color-sienna-900-40: #7A32166;
	--color-sienna-900-45: #7A32173;
	--color-sienna-900-50: #7A32180;
	--color-sienna-900-55: #7A3218D;
	--color-sienna-900-60: #7A3219A;
	--color-sienna-900-65: #7A321A6;
	--color-sienna-900-70: #7A321B3;
	--color-sienna-900-75: #7A321C0;
	--color-sienna-900-80: #7A321CD;
	--color-sienna-900-85: #7A321DA;
	--color-sienna-900-90: #7A321E6;
	--color-sienna-900-95: #7A321F3;
	--color-sienna-950-5: #421700D;
	--color-sienna-950-10: #421701A;
	--color-sienna-950-15: #4217026;
	--color-sienna-950-20: #4217033;
	--color-sienna-950-25: #4217040;
	--color-sienna-950-30: #421704D;
	--color-sienna-950-35: #421705A;
	--color-sienna-950-40: #4217066;
	--color-sienna-950-45: #4217073;
	--color-sienna-950-50: #4217080;
	--color-sienna-950-55: #421708D;
	--color-sienna-950-60: #421709A;
	--color-sienna-950-65: #42170A6;
	--color-sienna-950-70: #42170B3;
	--color-sienna-950-75: #42170C0;
	--color-sienna-950-80: #42170CD;
	--color-sienna-950-85: #42170DA;
	--color-sienna-950-90: #42170E6;
	--color-sienna-950-95: #42170F3;
}