@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@buildcanada/colours/styles/main.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility full-height {
    --full-height: calc(100dvh - 1rem);
}

@utility prose-charcoal {
    --tw-prose-body: var(--color-charcoal-800);
    --tw-prose-headings: var(--color-charcoal-900);
    --tw-prose-lead: var(--color-charcoal-700);
    --tw-prose-links: var(--color-charcoal-900);
    --tw-prose-bold: var(--color-charcoal-900);
    --tw-prose-counters: var(--color-charcoal-600);
    --tw-prose-bullets: var(--color-charcoal-400);
    --tw-prose-hr: var(--color-charcoal-300);
    --tw-prose-quotes: var(--color-charcoal-900);
    --tw-prose-quote-borders: var(--color-charcoal-300);
    --tw-prose-captions: var(--color-charcoal-700);
    --tw-prose-code: var(--color-charcoal-900);
    --tw-prose-pre-code: var(--color-charcoal-100);
    --tw-prose-pre-bg: var(--color-charcoal-900);
    --tw-prose-th-borders: var(--color-charcoal-300);
    --tw-prose-td-borders: var(--color-charcoal-200);
    --tw-prose-invert-body: var(--color-charcoal-200);
    --tw-prose-invert-headings: var(--color-charcoal-100);
    --tw-prose-invert-lead: var(--color-charcoal-300);
    --tw-prose-invert-links: var(--color-charcoal-100);
    --tw-prose-invert-bold: var(--color-charcoal-100);
    --tw-prose-invert-counters: var(--color-charcoal-400);
    --tw-prose-invert-bullets: var(--color-charcoal-600);
    --tw-prose-invert-hr: var(--color-charcoal-700);
    --tw-prose-invert-quotes: var(--color-charcoal-100);
    --tw-prose-invert-quote-borders: var(--color-charcoal-700);
    --tw-prose-invert-captions: var(--color-charcoal-400);
    --tw-prose-invert-code: var(--color-charcoal-100);
    --tw-prose-invert-pre-code: var(--color-charcoal-300);
    --tw-prose-invert-pre-bg: var(--color-charcoal-900-50);
    --tw-prose-invert-th-borders: var(--color-charcoal-600);
    --tw-prose-invert-td-borders: var(--color-charcoal-700);
}

.prose-charcoal {
    @apply prose-charcoal;
}

.min-h-fill {
    min-height: calc(100dvh - 14ch);
}

.docs-pattern {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='none'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='1' stroke='#4f4f4f' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
