/*******************************************************************************
 * Close Button
 *
 * Circular close/dismiss button.
 * Uses Build Canada design system colors.
 ******************************************************************************/

.close-button {
    // Keep in sync with CLOSE_BUTTON_SIZE in CloseButton.tsx
    $size: 32px;

    $light-stroke: $gray-20;
    $active-fill: $cerulean-100;
    $hover-fill: $gray-10;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: $size;
    width: $size;
    padding: 0;

    color: $gray-60;
    background: $white;
    border: 1px solid $light-stroke;
    border-radius: 0;
    cursor: pointer;
    transition: all 150ms ease;

    &:hover {
        background: $hover-fill;
        border-color: $gray-30;
        color: $charcoal;
    }

    &:active {
        background: $active-fill;
        border-color: $cerulean-500;
        color: $cerulean-900;
    }

    &:focus-visible {
        outline: 2px solid $auburn;
        outline-offset: 2px;
    }

    svg {
        height: 14px;
        width: 14px;
    }
}
