/*******************************************************************************
 * Content Switchers
 *
 * Chart type switcher tabs (Line, Bar, Map, etc.)
 * Uses Build Canada design system colors.
 ******************************************************************************/

$active-icon: $white;

@at-root {
    .ContentSwitchers__OverflowMenu {
        border-radius: 0;
        background-color: $white;
        box-shadow: 0px 4px 20px 0px rgba(39, 39, 39, 0.15);
        border: 1px solid $gray-20;
    }

    .ContentSwitchers__OverflowMenuItem {
        @include grapher_label-2-medium;

        margin: 0;
        padding: 0 16px;
        height: $controlRowHeight;
        display: flex;
        align-items: center;
        color: $charcoal;
        cursor: pointer;
        width: 100%;
        background-color: $white;
        transition: all 150ms ease;

        &:hover {
            background-color: $gray-10;
        }

        &:focus-visible {
            color: $white;
            background-color: $auburn-500;

            svg {
                color: $active-icon;
            }
        }
    }

    .Tabs.ContentSwitchers .Tabs__Tab,
    .ContentSwitchers__OverflowMenuItem {
        $icon-width: 13px;
        $icon-padding: 6px;

        .label {
            margin-left: $icon-padding;
        }

        svg {
            color: $gray-50;

            &.custom-icon {
                --size: $icon-width;

                display: inline-block;
                height: var(--size);
                width: var(--size);
                vertical-align: -1.625px;

                &.scatter,
                &.marimekko,
                &.slope {
                    --size: 14px;
                }
            }
        }

        &[data-selected] {
            svg {
                color: $active-icon;
            }
        }
    }
}

.Tabs.ContentSwitchers {
    .Tabs__Tab.ContentSwitchers__OverflowMenuButton {
        // Make the +X tab a bit narrower
        padding: 0 8px;

        // Don't show as 'active' when clicked
        &[data-selected] {
            background: $white;
            color: $charcoal;
        }
    }

    .Tabs__Tab.active {
        color: $white;
        background-color: $auburn-500;

        svg {
            color: $active-icon;
        }
    }
}
