/*******************************************************************************
 * Search Field
 *
 * Search input field styling.
 * Uses Build Canada design system colors.
 ******************************************************************************/

.grapher-search-field {
    // Search icon
    $svg-margin: 10px;
    $svg-size: 14px;

    $placeholder: $gray-50;
    $focus: 2px solid $auburn-500;

    position: relative;

    .search-icon {
        position: absolute;
        top: 50%;
        left: $svg-margin;
        color: $gray-50;
        transform: translateY(-50%);
        font-size: $svg-size;
    }

    .clear {
        margin: 0;
        padding: 4px;
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        right: $svg-margin;
        transform: translateY(-50%);
        font-size: $svg-size;
        color: $gray-50;
        cursor: pointer;
        transition: color 150ms ease;

        &:hover {
            color: $charcoal;
        }
    }

    input[type="search"] {
        @include grapher_label-2-regular;
        width: 100%;
        height: 36px;
        border: 1px solid $gray-20;
        padding-left: $svg-margin + $svg-size + 6px;
        padding-right: $svg-margin + $svg-size + 6px;
        border-radius: 0;
        background: $white;
        color: $charcoal;
        transition: all 150ms ease;

        &::placeholder {
            color: $placeholder;
        }

        // Style focus state
        &:focus {
            outline: none;
            border-color: $auburn-500;
        }

        &:focus-visible {
            outline: 2px solid $auburn;
            outline-offset: 2px;
        }
    }

    .search-placeholder {
        @include grapher_label-2-regular;
        color: $placeholder;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: $svg-size + $svg-margin + 8px;
        transform: translateY(-50%);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - $svg-size - $svg-margin - 2 * 8px);
    }

    &.grapher-search-field--empty {
        input[type="search"] {
            padding-right: 12px;
        }
    }
}
