/*******************************************************************************
 * Checkbox
 *
 * Custom checkbox styling.
 * Uses Build Canada design system colors.
 ******************************************************************************/

.checkbox {
    $checkbox-size: 18px;

    $light-stroke: $gray-30;
    $hover-stroke: $auburn-500;
    $active-fill: $auburn-500;

    position: relative;
    display: flex;
    align-items: flex-start;

    label {
        margin: 0;
    }

    input {
        position: absolute;
        opacity: 0;
        left: 0;
        cursor: pointer;
        pointer-events: none;
    }

    .custom {
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        width: $checkbox-size;
        height: $checkbox-size;

        background: $white;
        pointer-events: none;
        border-radius: 0;
        border: 2px solid $light-stroke;
        color: $white;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 150ms ease;

        svg {
            font-size: 10px;
        }
    }

    input:focus-visible + .custom {
        outline: 2px solid $auburn;
        outline-offset: 2px;
    }

    input:active + .custom {
        background: $auburn-100;
    }

    input:checked + .custom {
        background: $active-fill;
        border-color: $active-fill;
    }

    input:checked:active + .custom {
        background: $auburn-600;
        border-color: $auburn-600;
    }

    input:disabled {
        + .custom {
            background: $gray-10;
            border-color: $gray-20;
            color: $gray-50;
        }

        &:active + .custom {
            background: $gray-10;
        }

        ~ .label {
            color: $gray-50;
            cursor: not-allowed;
        }
    }

    .label {
        @include grapher_label-2-regular;
        padding-left: $checkbox-size + 10px;
        cursor: pointer;
        user-select: none;
        color: $charcoal;
        line-height: $checkbox-size;
    }

    &:hover {
        input:not(:checked):not(:disabled) + .custom {
            border-color: $hover-stroke;
        }
    }
}
