/*******************************************************************************
 * Radio Button
 *
 * Custom radio button styling.
 * Uses Build Canada design system colors.
 ******************************************************************************/

@use "sass:math";

.radio {
    $radio-size: 18px;

    $light-stroke: $gray-30;
    $hover-stroke: $cerulean-500;
    $active-fill: $cerulean-500;

    position: relative;
    display: flex;
    align-items: flex-start;

    label {
        margin: 0;
        cursor: pointer;
    }

    input {
        position: absolute;
        opacity: 0;
        left: 0;
        pointer-events: none;
    }

    .outer {
        position: absolute;
        left: 0;
        top: 0;
        width: $radio-size;
        height: $radio-size;

        background: $white;
        pointer-events: none;
        border-radius: 50%;
        border: 2px solid $light-stroke;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 150ms ease;

        .inner {
            width: math.div($radio-size, 2);
            height: math.div($radio-size, 2);
            background-color: $active-fill;
            border-radius: 50%;
            opacity: 0;
            transform: scale(0);
            transition: all 150ms ease;
        }
    }

    input:focus-visible + .outer {
        outline: 2px solid $auburn;
        outline-offset: 2px;
    }

    input:checked + .outer {
        border-color: $hover-stroke;

        .inner {
            opacity: 1;
            transform: scale(1);
        }
    }

    .label {
        @include grapher_label-2-regular;
        padding-left: $radio-size + 10px;
        cursor: pointer;
        user-select: none;
        color: $charcoal;
        line-height: $radio-size;
    }

    &:hover {
        input:not(:checked) + .outer {
            border-color: $hover-stroke;
        }
    }
}
