@utility prose-sienna {
    --tw-prose-body: var(--color-sienna-800);
    --tw-prose-headings: var(--color-sienna-900);
    --tw-prose-lead: var(--color-sienna-700);
    --tw-prose-links: var(--color-sienna-900);
    --tw-prose-bold: var(--color-sienna-900);
    --tw-prose-counters: var(--color-sienna-600);
    --tw-prose-bullets: var(--color-sienna-400);
    --tw-prose-hr: var(--color-sienna-300);
    --tw-prose-quotes: var(--color-sienna-900);
    --tw-prose-quote-borders: var(--color-sienna-300);
    --tw-prose-captions: var(--color-sienna-700);
    --tw-prose-code: var(--color-sienna-900);
    --tw-prose-pre-code: var(--color-sienna-100);
    --tw-prose-pre-bg: var(--color-sienna-900);
    --tw-prose-th-borders: var(--color-sienna-300);
    --tw-prose-td-borders: var(--color-sienna-200);
    --tw-prose-invert-body: var(--color-sienna-200);
    --tw-prose-invert-headings: var(--color-sienna-100);
    --tw-prose-invert-lead: var(--color-sienna-300);
    --tw-prose-invert-links: var(--color-sienna-100);
    --tw-prose-invert-bold: var(--color-sienna-100);
    --tw-prose-invert-counters: var(--color-sienna-400);
    --tw-prose-invert-bullets: var(--color-sienna-600);
    --tw-prose-invert-hr: var(--color-sienna-700);
    --tw-prose-invert-quotes: var(--color-sienna-100);
    --tw-prose-invert-quote-borders: var(--color-sienna-700);
    --tw-prose-invert-captions: var(--color-sienna-400);
    --tw-prose-invert-code: var(--color-sienna-100);
    --tw-prose-invert-pre-code: var(--color-sienna-300);
    --tw-prose-invert-pre-bg: var(--color-sienna-900-50);
    --tw-prose-invert-th-borders: var(--color-sienna-600);
    --tw-prose-invert-td-borders: var(--color-sienna-700);
}
