@utility prose-charcoal {
    --tw-prose-body: var(--color-charcoal-800);
    --tw-prose-headings: var(--color-charcoal-900);
    --tw-prose-lead: var(--color-charcoal-700);
    --tw-prose-links: var(--color-charcoal-900);
    --tw-prose-bold: var(--color-charcoal-900);
    --tw-prose-counters: var(--color-charcoal-600);
    --tw-prose-bullets: var(--color-charcoal-400);
    --tw-prose-hr: var(--color-charcoal-300);
    --tw-prose-quotes: var(--color-charcoal-900);
    --tw-prose-quote-borders: var(--color-charcoal-300);
    --tw-prose-captions: var(--color-charcoal-700);
    --tw-prose-code: var(--color-charcoal-900);
    --tw-prose-pre-code: var(--color-charcoal-100);
    --tw-prose-pre-bg: var(--color-charcoal-900);
    --tw-prose-th-borders: var(--color-charcoal-300);
    --tw-prose-td-borders: var(--color-charcoal-200);
    --tw-prose-invert-body: var(--color-charcoal-200);
    --tw-prose-invert-headings: var(--color-charcoal-100);
    --tw-prose-invert-lead: var(--color-charcoal-300);
    --tw-prose-invert-links: var(--color-charcoal-100);
    --tw-prose-invert-bold: var(--color-charcoal-100);
    --tw-prose-invert-counters: var(--color-charcoal-400);
    --tw-prose-invert-bullets: var(--color-charcoal-600);
    --tw-prose-invert-hr: var(--color-charcoal-700);
    --tw-prose-invert-quotes: var(--color-charcoal-100);
    --tw-prose-invert-quote-borders: var(--color-charcoal-700);
    --tw-prose-invert-captions: var(--color-charcoal-400);
    --tw-prose-invert-code: var(--color-charcoal-100);
    --tw-prose-invert-pre-code: var(--color-charcoal-300);
    --tw-prose-invert-pre-bg: var(--color-charcoal-900-50);
    --tw-prose-invert-th-borders: var(--color-charcoal-600);
    --tw-prose-invert-td-borders: var(--color-charcoal-700);
}
