@utility prose-maritime {
    --tw-prose-body: var(--color-maritime-800);
    --tw-prose-headings: var(--color-maritime-900);
    --tw-prose-lead: var(--color-maritime-700);
    --tw-prose-links: var(--color-maritime-900);
    --tw-prose-bold: var(--color-maritime-900);
    --tw-prose-counters: var(--color-maritime-600);
    --tw-prose-bullets: var(--color-maritime-400);
    --tw-prose-hr: var(--color-maritime-300);
    --tw-prose-quotes: var(--color-maritime-900);
    --tw-prose-quote-borders: var(--color-maritime-300);
    --tw-prose-captions: var(--color-maritime-700);
    --tw-prose-code: var(--color-maritime-900);
    --tw-prose-pre-code: var(--color-maritime-100);
    --tw-prose-pre-bg: var(--color-maritime-900);
    --tw-prose-th-borders: var(--color-maritime-300);
    --tw-prose-td-borders: var(--color-maritime-200);
    --tw-prose-invert-body: var(--color-maritime-200);
    --tw-prose-invert-headings: var(--color-maritime-100);
    --tw-prose-invert-lead: var(--color-maritime-300);
    --tw-prose-invert-links: var(--color-maritime-100);
    --tw-prose-invert-bold: var(--color-maritime-100);
    --tw-prose-invert-counters: var(--color-maritime-400);
    --tw-prose-invert-bullets: var(--color-maritime-600);
    --tw-prose-invert-hr: var(--color-maritime-700);
    --tw-prose-invert-quotes: var(--color-maritime-100);
    --tw-prose-invert-quote-borders: var(--color-maritime-700);
    --tw-prose-invert-captions: var(--color-maritime-400);
    --tw-prose-invert-code: var(--color-maritime-100);
    --tw-prose-invert-pre-code: var(--color-maritime-300);
    --tw-prose-invert-pre-bg: var(--color-maritime-900-50);
    --tw-prose-invert-th-borders: var(--color-maritime-600);
    --tw-prose-invert-td-borders: var(--color-maritime-700);
}
