/*******************************************************************************
 * Colors - Build Canada Design System
 *
 * This file imports and extends the Build Canada color tokens for use in charts.
 ******************************************************************************/

@use "sass:color";

/*******************************************************************************
 * Import Build Canada Design Tokens
 ******************************************************************************/

@use "@buildcanada/components/src/styles/tokens" as bc;

/*******************************************************************************
 * Brand Colors (from Build Canada design system)
 ******************************************************************************/

$linen: bc.$linen;
$charcoal: bc.$charcoal;
$auburn: bc.$auburn;
$white: bc.$white;

/*******************************************************************************
 * Primary Color Scale - Auburn (Red)
 ******************************************************************************/

$auburn-50: bc.$auburn-50;
$auburn-100: bc.$auburn-100;
$auburn-200: bc.$auburn-200;
$auburn-300: bc.$auburn-300;
$auburn-400: bc.$auburn-400;
$auburn-500: bc.$auburn-500;
$auburn-600: bc.$auburn-600;
$auburn-700: bc.$auburn-700;
$auburn-800: bc.$auburn-800;
$auburn-900: bc.$auburn-900;
$auburn-950: bc.$auburn-950;

/*******************************************************************************
 * Secondary Color Scale - Cerulean (Blue)
 ******************************************************************************/

$cerulean-50: bc.$cerulean-50;
$cerulean-100: bc.$cerulean-100;
$cerulean-200: bc.$cerulean-200;
$cerulean-300: bc.$cerulean-300;
$cerulean-400: bc.$cerulean-400;
$cerulean-500: bc.$cerulean-500;
$cerulean-600: bc.$cerulean-600;
$cerulean-700: bc.$cerulean-700;
$cerulean-800: bc.$cerulean-800;
$cerulean-900: bc.$cerulean-900;
$cerulean-950: bc.$cerulean-950;

/*******************************************************************************
 * Tertiary Color Scale - Sienna (Orange)
 ******************************************************************************/

$sienna-50: bc.$sienna-50;
$sienna-100: bc.$sienna-100;
$sienna-200: bc.$sienna-200;
$sienna-300: bc.$sienna-300;
$sienna-400: bc.$sienna-400;
$sienna-500: bc.$sienna-500;
$sienna-600: bc.$sienna-600;
$sienna-700: bc.$sienna-700;
$sienna-800: bc.$sienna-800;
$sienna-900: bc.$sienna-900;
$sienna-950: bc.$sienna-950;

/*******************************************************************************
 * Supporting Color Scale - Fantasia (Purple)
 ******************************************************************************/

$fantasia-50: bc.$fantasia-50;
$fantasia-100: bc.$fantasia-100;
$fantasia-200: bc.$fantasia-200;
$fantasia-300: bc.$fantasia-300;
$fantasia-400: bc.$fantasia-400;
$fantasia-500: bc.$fantasia-500;
$fantasia-600: bc.$fantasia-600;
$fantasia-700: bc.$fantasia-700;
$fantasia-800: bc.$fantasia-800;
$fantasia-900: bc.$fantasia-900;
$fantasia-950: bc.$fantasia-950;

/*******************************************************************************
 * Supporting Color Scale - Emerald (Green)
 ******************************************************************************/

$emerald-50: bc.$emerald-50;
$emerald-100: bc.$emerald-100;
$emerald-200: bc.$emerald-200;
$emerald-300: bc.$emerald-300;
$emerald-400: bc.$emerald-400;
$emerald-500: bc.$emerald-500;
$emerald-600: bc.$emerald-600;
$emerald-700: bc.$emerald-700;
$emerald-800: bc.$emerald-800;
$emerald-900: bc.$emerald-900;
$emerald-950: bc.$emerald-950;

/*******************************************************************************
 * Gray Scale
 ******************************************************************************/

$gray-5: #f7f7f7;
$gray-10: bc.$gray-100;
$gray-20: bc.$gray-200;
$gray-30: bc.$gray-300;
$gray-50: bc.$gray-400;
$gray-60: bc.$gray-500;
$gray-70: bc.$gray-600;
$gray-80: bc.$gray-700;
$gray-90: bc.$gray-800;
$gray-100: bc.$gray-900;

/*******************************************************************************
 * Legacy Brand Colors (backwards compatibility)
 * Maps old OWID colors to Build Canada equivalents
 ******************************************************************************/

$oxford-blue: $charcoal;
$vermillion: $auburn;
$amber: $sienna-400;

// Legacy blue shades mapped to cerulean
$blue-100: $cerulean-950;
$blue-95: $cerulean-900;
$blue-90: $cerulean-800;
$blue-65: $cerulean-700;
$blue-60: $cerulean-600;
$blue-50: $cerulean-500;
$blue-40: $cerulean-400;
$blue-30: $cerulean-300;
$blue-20: $cerulean-200;
$blue-10: $cerulean-100;
$blue-5: $cerulean-50;

// Legacy amber shades mapped to sienna
$amber-110: $sienna-300;
$amber-10: $sienna-50;

$beige: $linen;

/*******************************************************************************
 * Accent Colors
 ******************************************************************************/

$accent-electric-blue: $cerulean-500;
$accent-pale-blue: $cerulean-50;
$accent-vermillion: $auburn-700;

// Visited link colors mapped to fantasia (purple)
$purple-90: $fantasia-800;
$purple-60: $fantasia-600;
$visited-light: $fantasia-300;

/*******************************************************************************
 * Text Colors
 ******************************************************************************/

$text-color: $charcoal;
$secondary-text-color: bc.$gray-600;
$tertiary-text-color: $sienna-500;
$grey-text-color: bc.$gray-500;
$bluish-grey-text-color: $cerulean-600;
$error-text-color: $auburn;

/*******************************************************************************
 * Category Colors (for data visualization)
 * Using Build Canada palette
 ******************************************************************************/

$population-color: $cerulean-500;
$health-color: $auburn-500;
$food-color: $emerald-600;
$energy-color: $sienna-500;
$environment-color: $emerald-800;
$technology-color: $cerulean-600;
$growth-inequality-color: $emerald-500;
$work-life-color: $fantasia-500;
$public-sector-color: $sienna-400;
$global-connections-color: $cerulean-900;
$war-peace-color: $auburn-900;
$politics-color: $fantasia-900;
$violence-rights-color: $auburn-400;
$education-color: $cerulean-800;
$media-color: $cerulean-400;
$culture-color: $fantasia-600;

/*******************************************************************************
 * Controls & UI Colors
 ******************************************************************************/

$controls-color: $cerulean-500;
$light-shadow:
    rgba(39, 39, 39, 0.1) 0px 0px 0px 1px,
    rgba(39, 39, 39, 0.08) 0px 2px 2px;

/*******************************************************************************
 * SDG Colors (UN Sustainable Development Goals)
 ******************************************************************************/

$sdgColors: (
    1: color.scale(#e5243b, $lightness: -15%),
    2: #dda63a,
    3: color.scale(#4c9f38, $lightness: -17%),
    4: color.scale(#c5192d, $lightness: -15%),
    5: color.scale(#ff3a21, $lightness: -19%),
    6: #26bde2,
    7: #fcc30b,
    8: color.scale(#a21942, $lightness: -15%),
    9: #fd6925,
    10: color.scale(#dd1367, $lightness: -15%),
    11: #fd9d24,
    12: #bf8b2e,
    13: color.scale(#3f7e44, $lightness: -15%),
    14: color.scale(#0a97d9, $lightness: -20%),
    15: #56c02b,
    16: color.scale(#00689d, $lightness: -15%),
    17: color.scale(#19486a, $lightness: -15%),
);

/*******************************************************************************
 * CSS Custom Properties Export
 ******************************************************************************/

:root {
    // Brand colors
    --bc-linen: #{$linen};
    --bc-charcoal: #{$charcoal};
    --bc-auburn: #{$auburn};

    // Legacy variables for backwards compatibility
    --amber: #{$amber};

    // SDG colors
    @each $i, $sdgColor in $sdgColors {
        --sdg-color-#{$i}: #{$sdgColor};
    }
}
